﻿@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .header-navbar {
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif !important;
}

.table td, .routine-table .table th {
    font-size: .85rem;
    padding: .2rem;
    border-bottom: none;
}


.routine-table .table th, .routine-table .table td {
    text-align:center;
    vertical-align: middle;
    border-top: 1px solid #DFE3E7;
}

    .routine-table .position-relative .form-control {
        padding-right: 0;
    }

.routine-table .table th {
    width: 200px;
}

table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc_disabled:before {
    right: 1em !important;
    content: "\2191" !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
    right: 0.5em !important;
    padding-top: 0em !important;
    content: "\2193" !important;
}

/*.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #E7F5F6 !important;
}*/

.table-striped tbody tr:nth-of-type(2n) {
    background-color: #E7F5F6 !important;
}

div.dataTables_wrapper div.dataTables_info{
    font-size:.8rem !important;
}

.page-link, .pagination .page-item.previous, .pagination .page-item.next {
    border-radius: .5rem !important;
    font-size: .8rem !important;
    font-weight:400!important;
}

.pagination .page-item.active .page-link, .pagination .page-item.active .page-link:hover {
    background-color: #00C3F9 !important;
    color: #475F7B !important;
}

.flag-icon-bd {
    background-image: url('Images/bd.svg');
}

.main-menu.menu-dark .navigation > li.nav-item.open.has-sub.open, .main-menu.menu-dark .navigation > li.nav-item.open.has-sub.sidebar-group-active, .main-menu.menu-dark .navigation > li.nav-item.sidebar-group-active.has-sub.open, .main-menu.menu-dark .navigation > li.nav-item.sidebar-group-active.has-sub.sidebar-group-active {
    background-color: #283148 !important;
}
.custom-hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #DFE3E7;
    width: 100%;
}
.main-menu.menu-light, .main-menu.menu-light .navigation {
    background: #FFFFFF;
}

.bg-custom-blue {
    background: #00C3F9 !important;
}

.bg-custom-sky {
    background: #A2EFFF !important;
}
.bg-custom-grey {
    background: #84E7CA !important;
}

.bg-custom-blue-gradiant {
    background-image: linear-gradient(to right, #CC74EE, #774A8F) !important;
}

.custom-round {
    border-radius: 0.5rem !important;
}

.form-control::placeholder{
    opacity:.3 !important;
}

.font-8rem {
    font-size: 0.8rem;
}

.table td.d-flex{
    justify-content:center;
}

.table tr td img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

@media screen and (min-width: 768px) {

    .dataTables_filter, .dataTables_paginate {
        width: 50%;
        float: right;
    }

    .dataTables_length, .dataTables_info {
        width: 50%;
        float: left;
    }
}

#studentList.table th, #studentList.table td, #studentList .form-control{
    padding:0;
}
#studentList select.form-control:not([multiple="multiple"]) {
    background-position: calc(100% - 5px) 13px, calc(100% - 20px) 13px, 100% 0;
}
#studentList .form-control{
    width:40px;
}