@charset "UTF-8";
/* Project name: Føroya Handverkarafelag */
/* Develope by: appnet.fo */
/* variables */
/* Primary Color */
/* Secoundry color */
/* Black color */
/* White color */
/* Fonts */
*, *, *:after, *:before {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

::-moz-selection {
  background-color: #0D9F24;
  color: #ffffff;
}

::selection {
  background-color: #0D9F24;
  color: #ffffff;
}

html, body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
  color: #575757;
}

@media (max-width: 768px) {
  html, body {
    overflow-x: hidden !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

div, header, nav, footer, section, aside, article {
  display: block;
}

a {
  color: #0D9F24;
  text-decoration: none;
  -webkit-transition: all 0.05s ease-in !important;
  transition: all 0.05s ease-in !important;
}

a:hover {
  text-decoration: none;
  color: #000000;
}

p {
  font-size: 16px;
}

@media (max-width: 576px) {
  p {
    font-size: 14px;
  }
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
  font-size: 16px;
  padding-left: 15px;
  position: relative;
  margin-bottom: 10px;
}

ul li::before {
  position: absolute;
  left: 0;
  width: 5px;
  height: 5px;
  content: '';
  background-color: #000000;
  top: 11px;
  border-radius: 50%;
}

img {
  width: 100%;
}

/* Components */
.btn {
  min-width: 170px;
  background-color: #0D9F24;
  color: #ffffff;
  border-radius: 24px;
  -webkit-box-shadow: 0px 12px 24px rgba(13, 159, 36, 0.3);
          box-shadow: 0px 12px 24px rgba(13, 159, 36, 0.3);
}

.btn:hover {
  color: #0D9F24;
  border: 1px solid #0D9F24;
  background-color: transparent;
  -webkit-box-shadow: 0px 12px 24px rgba(13, 159, 36, 0);
          box-shadow: 0px 12px 24px rgba(13, 159, 36, 0);
}

.hero {
  padding: 100px 0;
}

@media (max-width: 768px) and (min-width: 576px) {
  .hero .mobile-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .hero .mobile-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

@media (max-width: 576px) {
  .hero h1, .hero h2, .hero h3, .hero h4, .hero h5, .hero h6 {
    font-size: 32px !important;
  }
  .hero .mobile-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .hero .mobile-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.hero .text-bold {
  font-weight: bold;
  font-size: 24px;
  color: #111013;
}

.hero .mid-title {
  font-size: 24px;
  color: #0D9F24;
  font-weight: 300;
}

.hero h1, .hero h2, .hero h3, .hero h4, .hero h5, .hero h6 {
  font-size: 60px;
  line-height: 60px;
  color: #000000;
}

.hero p:not(.mid-title) {
  margin-bottom: 30px;
}

.feature-wrapper {
  padding: 100px 0;
}

@media (max-width: 576px) {
  .feature-wrapper {
    background-color: #F1F3F6;
  }
  .feature-wrapper h1, .feature-wrapper h2, .feature-wrapper h3, .feature-wrapper h4, .feature-wrapper h5, .feature-wrapper h6 {
    font-size: 28px !important;
  }
  .feature-wrapper .mt-5 {
    margin-top: 0 !important;
  }
  .feature-wrapper .box {
    background-color: #ffffff !important;
    margin-bottom: 30px;
    margin-top: 30px !important;
  }
}

.feature-wrapper .content {
  padding: 30px;
  border-radius: 24px;
  min-height: 240px;
  position: relative;
}

.feature-wrapper .content .tag {
  background-color: #0D9F24;
  border-radius: 24px;
  padding: 2px 30px;
  display: inline-block;
  color: #ffffff;
}

.feature-wrapper .content h1, .feature-wrapper .content h2, .feature-wrapper .content h3, .feature-wrapper .content h4, .feature-wrapper .content h5, .feature-wrapper .content h6 {
  font-size: 42px;
  font-weight: 400;
  line-height: 42px;
  margin-bottom: 20px;
  color: #000000;
  margin-top: 20px;
}

.feature-wrapper .box {
  background: #F1F3F6;
  padding: 20px;
  border-radius: 24px;
  text-align: center;
  min-height: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature-wrapper .box .icons {
  position: absolute;
  width: 100%;
  left: 0;
  top: -50px;
  text-align: center;
}

.feature-wrapper .box .icons i {
  display: -ms-grid;
  display: grid;
  background-color: #0D9F24;
  color: #ffffff;
  width: 80px;
  height: 80px;
  place-content: center;
  font-size: 42px;
  border-radius: 50%;
  margin: 0 auto;
}

.feature-wrapper .box h1, .feature-wrapper .box h2, .feature-wrapper .box h3, .feature-wrapper .box h4, .feature-wrapper .box h5, .feature-wrapper .box h6 {
  font-size: 24px;
  color: #000000;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  padding-top: 20px;
}

.feature-wrapper .box p {
  color: #575757;
  line-height: 16px;
}

.price-wrapper {
  background-color: #F1F3F6;
  padding: 50px 0;
}

@media (max-width: 576px) {
  .price-wrapper {
    padding-bottom: 0 !important;
  }
  .price-wrapper lottie-player {
    width: 100% !important;
  }
  .price-wrapper .mobile-2 {
    -webkit-box-ordinal-group: 3 !important;
        -ms-flex-order: 2 !important;
            order: 2 !important;
  }
  .price-wrapper .mobile-1 {
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important;
  }
}

.price-wrapper .box {
  text-align: center;
}

.price-wrapper .box .price-title {
  padding-bottom: 10px;
  font-weight: 400;
  color: #000000;
  font-size: 42px;
}

.price-wrapper .box .tag {
  background-color: #0D9F24;
  border-radius: 24px;
  padding: 2px 20px;
  display: inline-block;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  min-width: 140px;
}

.price-wrapper .box .price-box {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  padding: 10px 30px;
  border-radius: 24px;
  margin-top: 30px;
  position: relative;
}

.price-wrapper .box .plan {
  position: absolute;
  top: -20px;
  background-color: #000000;
  border-radius: 4px;
  padding: 4px 20px;
  display: inline-block;
  color: #ffffff;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.price-wrapper .box .plan-name {
  font-size: 24px;
  color: #0D9F24;
  font-weight: 300;
  margin: 20px 0;
  display: block;
}

.price-wrapper .box .pricing {
  color: #000000;
  font-weight: 400;
  font-size: 32px;
}

.price-wrapper .box .pricing b {
  font-weight: bold;
}

.price-wrapper .box .extra {
  font-size: 16px;
  color: #828282;
  display: block;
  margin-bottom: 20px;
}

.price-wrapper ul {
  text-align: left;
}

.contact-wrapper {
  padding-bottom: 100px;
  padding-top: 200px;
}

.contact-wrapper::before {
  position: absolute;
  width: 100%;
  height: 50%;
  content: '';
  background: #F1F3F6;
  background-size: cover;
  top: 0;
  left: 0;
}

@media (max-width: 576px) {
  .contact-wrapper {
    padding-top: 150px;
    padding-bottom: 0;
  }
  .contact-wrapper .container h1, .contact-wrapper .container h2, .contact-wrapper .container h3, .contact-wrapper .container h4, .contact-wrapper .container h5, .contact-wrapper .container h6 {
    font-size: 28px !important;
  }
  .contact-wrapper .container::before {
    width: 100% !important;
  }
}

.contact-wrapper .container {
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url("../images/landing/contact-img.jpg");
  background-size: cover;
}

.contact-wrapper .form {
  background-color: #000000;
  padding: 50px;
  border-radius: 24px;
  margin-top: -200px;
}

.contact-wrapper .form h1, .contact-wrapper .form h2, .contact-wrapper .form h3, .contact-wrapper .form h4, .contact-wrapper .form h5, .contact-wrapper .form h6 {
  font-size: 42px;
  margin-bottom: 30px;
  color: #ffffff;
  font-weight: 400;
}

.contact-wrapper .input {
  margin-bottom: 20px;
}

.contact-wrapper .input input {
  width: 100%;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 7px 20px;
  border-radius: 24px;
}

footer {
  background-color: #F1F3F6;
}

@media (max-width: 576px) {
  footer {
    text-align: center;
  }
  footer .logo {
    margin-bottom: 20px;
  }
  footer .contact a {
    display: block;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) and (min-width: 576px) {
  footer {
    text-align: center;
  }
  footer .logo {
    margin-bottom: 20px;
  }
  footer .contact a {
    display: block;
    margin-bottom: 30px !important;
  }
}

footer .container {
  padding: 10px;
}

footer .container .contact a {
  color: #111013;
}

footer .container .contact i {
  vertical-align: middle;
}

footer .container .logo img {
  max-width: 245px;
}

footer .credit {
  background-color: #ffffff;
  text-align: center;
  padding: 10px;
}

footer .credit img {
  max-width: 100px;
}
/*# sourceMappingURL=style.css.map */