﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CookiePreview</title>

    <link href="~/Areas/Admin/Contents/css/cookiepopup.css" rel="stylesheet" />

</head>

<body>

    <div class="cookie-box mb-5" data-position="@Model.Dialog.PositionType">
        <div class="container">

            <div class="row justify-content-center">
                <div class="col-sm-11 col-md-12 col-lg-11">
                    <div class="cookie">
                        <div class="row align-items-center">
                            <div class="col-sm-2">
                                <div class="cookie-icon text-center">
                                    <svg width="75" height="76" viewBox="0 0 75 76" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M74.9493 35.5657C74.9116 34.8325 74.5104 34.1665 73.88 33.7906C73.2495 33.4144 72.473 33.3779 71.81 33.6928C70.0123 34.5469 68.0839 34.9799 66.0781 34.9799C58.6974 34.9799 52.6927 28.9709 52.6927 21.5846C52.6927 19.736 53.0623 17.9456 53.7912 16.2627C54.1493 15.4357 53.9666 14.4741 53.3303 13.836C52.6939 13.1978 51.7328 13.0127 50.9049 13.3689C49.8621 13.8174 48.7537 14.0448 47.6108 14.0448C43.0042 14.0448 39.2565 10.2939 39.2565 5.68356C39.2565 4.7434 39.4133 3.81672 39.7224 2.92962C39.9561 2.25931 39.8517 1.51747 39.4423 0.937742C39.0331 0.357871 38.3689 0.0113564 37.659 0.00710554L37.6195 0.00651922C37.5797 0.00607948 37.54 0.00549316 37.5 0.00549316C27.4832 0.00549316 18.0658 3.90877 10.9829 10.9962C3.90049 18.0832 0 27.506 0 37.5284C0 47.5508 3.90049 56.9735 10.9829 64.0605C18.0658 71.1481 27.4832 75.0512 37.5 75.0512C47.5168 75.0512 56.9342 71.1479 64.0171 64.0605C71.0995 56.9735 75 47.5508 75 37.5284C75.0001 36.8811 74.983 36.2206 74.9493 35.5657V35.5657ZM60.9066 60.9521C54.6544 67.2085 46.3417 70.654 37.5 70.654C28.6583 70.654 20.3456 67.2085 14.0934 60.9521C7.84086 54.6955 4.3974 46.3768 4.3974 37.5284C4.3974 28.6799 7.84086 20.3612 14.0934 14.1047C19.732 8.46243 27.0464 5.10633 34.9134 4.50183C34.8771 4.89379 34.8589 5.28794 34.8589 5.68371C34.8589 12.7188 40.5794 18.4423 47.6106 18.4423C47.9347 18.4423 48.2572 18.4303 48.5775 18.4064C48.3897 19.4477 48.2952 20.509 48.2952 21.5846C48.2952 31.3956 56.2725 39.3773 66.078 39.3773C67.6163 39.3773 69.121 39.1852 70.5787 38.8039C70.2641 47.1736 66.8578 54.9972 60.9066 60.9521V60.9521Z" fill="#0D9F24" />
                                        <path d="M21.682 35.6776C25.677 35.6776 28.9273 32.4257 28.9273 28.4289C28.9273 24.4321 25.677 21.1804 21.682 21.1804C17.6868 21.1804 14.4365 24.4321 14.4365 28.4289C14.4365 32.4257 17.6868 35.6776 21.682 35.6776ZM21.682 25.5778C23.2523 25.5778 24.5299 26.8569 24.5299 28.4289C24.5299 30.001 23.2523 31.2802 21.682 31.2802C20.1117 31.2802 18.8339 30.001 18.8339 28.4289C18.8339 26.8569 20.1115 25.5778 21.682 25.5778Z" fill="#0D9F24" />
                                        <path d="M23.0952 42.2132C19.3858 42.2132 16.3682 45.2323 16.3682 48.9431C16.3682 52.6539 19.3858 55.673 23.0952 55.673C26.8045 55.673 29.8223 52.6539 29.8223 48.9431C29.8223 45.2323 26.8045 42.2132 23.0952 42.2132ZM23.0952 51.2756C21.8105 51.2756 20.7656 50.2292 20.7656 48.9431C20.7656 47.657 21.8105 46.6106 23.0952 46.6106C24.3798 46.6106 25.4249 47.657 25.4249 48.9431C25.4249 50.2292 24.3798 51.2756 23.0952 51.2756Z" fill="#0D9F24" />
                                        <path d="M53.5019 43.3936C49.5069 43.3936 46.2566 46.6453 46.2566 50.6421C46.2566 54.6389 49.5069 57.8908 53.5019 57.8908C57.4971 57.8908 60.7473 54.6389 60.7473 50.6421C60.7473 46.6453 57.4971 43.3936 53.5019 43.3936V43.3936ZM53.5019 53.4934C51.9316 53.4934 50.654 52.2142 50.654 50.6421C50.654 49.07 51.9316 47.791 53.5019 47.791C55.0722 47.791 56.3499 49.07 56.3499 50.6421C56.3499 52.2142 55.0722 53.4934 53.5019 53.4934Z" fill="#0D9F24" />
                                        <path d="M40.5118 55.692C39.319 55.692 38.3521 56.6595 38.3521 57.853C38.3521 59.0466 39.319 60.0142 40.5118 60.0142C41.7045 60.0142 42.6715 59.0466 42.6715 57.853C42.6715 56.6595 41.7045 55.692 40.5118 55.692V55.692Z" fill="#0D9F24" />
                                        <path d="M27.6231 14.7812C28.8159 14.7812 29.7828 13.8136 29.7828 12.62C29.7828 11.4265 28.8159 10.4589 27.6231 10.4589C26.4303 10.4589 25.4634 11.4265 25.4634 12.62C25.4634 13.8136 26.4303 14.7812 27.6231 14.7812Z" fill="#0D9F24" />
                                        <path d="M12.6126 44.4119C13.8054 44.4119 14.7723 43.4443 14.7723 42.2507C14.7723 41.0571 13.8054 40.0895 12.6126 40.0895C11.4198 40.0895 10.4529 41.0571 10.4529 42.2507C10.4529 43.4443 11.4198 44.4119 12.6126 44.4119Z" fill="#0D9F24" />
                                        <path d="M33.3655 30.4636C32.1728 30.4636 31.2058 31.4311 31.2058 32.6247C31.2058 33.8183 32.1728 34.7858 33.3655 34.7858C34.5582 34.7858 35.5252 33.8182 35.5252 32.6247C35.5252 31.4311 34.5584 30.4636 33.3655 30.4636Z" fill="#0D9F24" />
                                        <path d="M46.2957 41.2903C47.4885 41.2903 48.4554 40.3227 48.4554 39.1291C48.4554 37.9355 47.4885 36.968 46.2957 36.968C45.1029 36.968 44.136 37.9355 44.136 39.1291C44.136 40.3227 45.1029 41.2903 46.2957 41.2903Z" fill="#0D9F24" />
                                    </svg>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="cookie-content">
                                    <h3>@Model.Content.DialogHeading</h3>
                                    <p>
                                        @Html.Raw(WebUtility.HtmlDecode(Model.Content.DialogBody))
                                    </p>
                                    <div class="cookie-accept">
                                        <div class="checkbox no-drop">
                                            <span class="custome-checkbox locked">
                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M12.6667 6.66665H13.3333C13.5101 6.66665 13.6797 6.73688 13.8047 6.86191C13.9298 6.98693 14 7.1565 14 7.33331V14C14 14.1768 13.9298 14.3464 13.8047 14.4714C13.6797 14.5964 13.5101 14.6666 13.3333 14.6666H2.66667C2.48986 14.6666 2.32029 14.5964 2.19526 14.4714C2.07024 14.3464 2 14.1768 2 14V7.33331C2 7.1565 2.07024 6.98693 2.19526 6.86191C2.32029 6.73688 2.48986 6.66665 2.66667 6.66665H3.33333V5.99998C3.33333 5.38714 3.45404 4.78031 3.68856 4.21412C3.92308 3.64794 4.26683 3.13349 4.70017 2.70015C5.13351 2.26681 5.64796 1.92306 6.21414 1.68854C6.78033 1.45402 7.38716 1.33331 8 1.33331C8.61284 1.33331 9.21967 1.45402 9.78586 1.68854C10.352 1.92306 10.8665 2.26681 11.2998 2.70015C11.7332 3.13349 12.0769 3.64794 12.3114 4.21412C12.546 4.78031 12.6667 5.38714 12.6667 5.99998V6.66665ZM3.33333 7.99998V13.3333H12.6667V7.99998H3.33333ZM7.33333 9.33331H8.66667V12H7.33333V9.33331ZM11.3333 6.66665V5.99998C11.3333 5.11592 10.9821 4.26808 10.357 3.64296C9.7319 3.01784 8.88406 2.66665 8 2.66665C7.11595 2.66665 6.2681 3.01784 5.64298 3.64296C5.01786 4.26808 4.66667 5.11592 4.66667 5.99998V6.66665H11.3333Z" fill="black" fill-opacity="0.5" />
                                                </svg>
                                            </span>
                                            <label for="">Necessary</label>
                                            <input type="checkbox" class="checkbox">
                                        </div>
                                        @if (Model.Dialog.Preference == true)
                                        {
                                            <div class="checkbox checkbox-active">
                                                <span class="custome-checkbox"></span>
                                                <label for="">Betra brúkarauppliving</label>
                                                <input type="checkbox" class="checkbox">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="checkbox">
                                                <span class="custome-checkbox"></span>
                                                <label for="">Preference</label>
                                                <input type="checkbox" class="checkbox">
                                            </div>
                                        }

                                        @if (Model.Dialog.Statistics == true)
                                        {
                                            <div class="checkbox checkbox-active">
                                                <span class="custome-checkbox"></span>
                                                <label for="">Statistics</label>
                                                <input type="checkbox" class="checkbox">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="checkbox">
                                                <span class="custome-checkbox"></span>
                                                <label for="">Statistics</label>
                                                <input type="checkbox" class="checkbox">
                                            </div>
                                        }

                                        @if (Model.Dialog.Marketing == true)
                                        {
                                            <div class="checkbox checkbox-active">
                                                <span class="custome-checkbox"></span>
                                                <label for="">Marketing</label>
                                                <input type="checkbox" class="checkbox">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="checkbox ">
                                                <span class="custome-checkbox"></span>
                                                <label for="">Marketing</label>
                                                <input type="checkbox" class="checkbox">
                                            </div>
                                        }



                                    </div>
                                    @*<p>Tú fært altíð broytt og tikið burtur samtykkið við at trýsta á tannhjólið niðast til vinstru.</p>*@
                                </div>
                            </div>
                        </div>
                        <div class="cookie-action">
                            <div class="btn-groups">
                                <button class="btn btn-bordered cookie-details-opener">@Model.Content.TextInShowSectionButton</button>

                                @if (((int)Model.Dialog.Button) == 0)
                                {
                                    <button class="btn btn-filled">Use Necessary Cookies Only</button>
                                    <button class="btn  btn-bordered value-change">Allow Selection</button>
                                    <button class="btn  btn-bordered value-change">Allow All Cookies</button>
                                }
                                else if (((int)Model.Dialog.Button) == 1)
                                {
                                    <button class="btn  btn-bordered value-change">Allow Selection</button>
                                    <button class="btn  btn-bordered value-change">Allow All Cookies</button>
                                }
                                else if (((int)Model.Dialog.Button) == 2)
                                {
                                    <button class="btn btn-filled">Ok</button>
                                }

                            </div>
                            <div class="credit">
                                <a href="" target="_blank">
                                    <img src="images/logo.svg" alt="">
                                </a>
                            </div>
                        </div>

                        <div class="cookie-details d-none">
                            <div class="declaration">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#declaration">Cookie declaration </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#about">About cookies </a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade show active display-flex" id="declaration">
                                        <div class="nav flex-column nav-pills">
                                            <a class="nav-link active" data-toggle="pill" href="#v-pills-home">@Model.Content.NecessaryCategoryTitle</a>
                                            <a class="nav-link" data-toggle="pill" href="#v-pills-profile">@Model.Content.PreferenceCategoryTitle</a>
                                            <a class="nav-link" data-toggle="pill" href="#v-pills-messages">@Model.Content.StatisticCategoryTitle</a>
                                            <a class="nav-link" data-toggle="pill" href="#v-pills-settings">@Model.Content.MarketingCategoryTitle</a>
                                            <a class="nav-link" data-toggle="pill" href="#v-pills-unclassified">@Model.Content.UnclassifiedCategoryTitle</a>
                                        </div>
                                        <div class="tab-content pl-3 pr-3">
                                            <div class="tab-pane fade show active" id="v-pills-home">
                                                <p>
                                                    @Html.Raw(WebUtility.HtmlDecode(Model.Content.NecessaryCookieIntroduction))

                                                </p>
                                            </div>
                                            <div class="tab-pane fade" id="v-pills-profile">

                                                @Html.Raw(WebUtility.HtmlDecode(Model.Content.PreferenceCookieIntroduction))
                                            </div>
                                            <div class="tab-pane fade" id="v-pills-messages">

                                                @Html.Raw(WebUtility.HtmlDecode(Model.Content.StatisticCookieIntroduction))

                                            </div>
                                            <div class="tab-pane fade" id="v-pills-settings">

                                                @Html.Raw(WebUtility.HtmlDecode(Model.Content.MarketingCookieIntroduction))
                                            </div>
                                            <div class="tab-pane fade" id="v-pills-unclassified">

                                                @Html.Raw(WebUtility.HtmlDecode(Model.Content.UnclassifiedCookieIntroduction))
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade p-3" id="about">
                                        @Html.Raw(WebUtility.HtmlDecode(Model.Content.GeneralCookieIntroduction))


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>


    <!-- Jquery CDN -->

    <script>
       $('input:checkbox.checkbox').change(function () {
                                                          if ($(this).is (":checked")) {
               $(this).parents('div.checkbox').addClass("checkbox-active");
                                                          } else
                                                          {
               $(this).parents('div.checkbox').removeClass("checkbox-active");
                                                          }
                                                      });
       $('input:checkbox.checkbox').change(function () {
                                                          if ($('input:checkbox.checkbox').is (":checked")) {
               $('.value-change').text('Góðtak valdu');
                                                          } else
                                                          {
               $('.value-change').text('Góðtak neyðugar');
                                                          }
                                                      });

       $('.cookie-details-opener').click(function () {
           $('.cookie-details').toggleClass('d-none');
           $(this).toggleClass('text-change');
                                                      })

       $('.cookie-details-opener').click(function ()
       {
                                                          if ($(this).is (".text-change")) {
               $(this).text('@Model.Content.TextInHideDetailsButton');
                                                          } else
                                                          {
               $(this).text('@Model.Content.TextInShowSectionButton');
                                                          }
                                                      });
    </script>


</body>
</html>
