/*=========================================================================================
    File Name: vertical-overlay-menu.scss
    Description: A overlay style vertical menu with show and hide support. It support
    light & dark version, filpped layout, right side icons, native scroll and borders menu
    item seperation.
    ----------------------------------------------------------------------------------------
    Item Name: Frest HTML Admin Template
    Version: 1.0
    Author: radiantsoftbd
    Author URL: http://www.themeforest.net/user/radiantsoftbd
==========================================================================================*/
.vertical-overlay-menu .content {
  margin-right : 0;
}

.vertical-overlay-menu .navbar .navbar-header {
  float : right;
  width : 260px;
}

.vertical-overlay-menu .navbar[data-nav='brand-center'] .navbar-header {
  padding : 0;
}

.vertical-overlay-menu .navbar[data-nav='brand-center'] .navbar-header .navbar-brand {
  display : -webkit-box;
  display : -webkit-flex;
  display : -ms-flexbox;
  display :         flex;
  -webkit-box-align : center;
  -webkit-align-items : center;
  -ms-flex-align : center;
          align-items : center;
  margin-left : 0;
}

.vertical-overlay-menu .navbar[data-nav='brand-center'] .navbar-header .navbar-brand .brand-logo {
  height : 27px;
  width : 35px;
}

.vertical-overlay-menu .navbar[data-nav='brand-center'] .navbar-header .navbar-brand .brand-logo .logo {
  height : 27px;
  display : -webkit-box;
  display : -webkit-flex;
  display : -ms-flexbox;
  display :         flex;
  position : relative;
  right : 6px;
}

.vertical-overlay-menu .navbar[data-nav='brand-center'] .navbar-header .navbar-brand .brand-text {
  color : #FFFFFF;
  padding-right : 1rem;
  letter-spacing : 0.01rem;
  font-size : 1.57rem;
}

.vertical-overlay-menu .main-menu, .vertical-overlay-menu.menu-hide .main-menu {
  opacity : 0;
  -webkit-transform : translate3d(0, 0, 0);
          transform : translate3d(0, 0, 0);
  -webkit-transition : width 0.25s,opacity 0.25s,-webkit-transform 0.25s;
          transition : width 0.25s,opacity 0.25s,-webkit-transform 0.25s;
          transition : width 0.25s,opacity 0.25s,transform 0.25s;
          transition : width 0.25s,opacity 0.25s,transform 0.25s,-webkit-transform 0.25s;
  width : 260px;
  right : -260px;
}

.vertical-overlay-menu .main-menu .navigation > li > a > span.badge {
  position : absolute;
  left : 20px;
}

.vertical-overlay-menu .main-menu .navigation > li > a > i {
  margin-left : 14px;
  float : right;
  width : 1.6rem !important;
}

.vertical-overlay-menu .main-menu .navigation > li ul li > a {
  -webkit-transition : all 0.35s ease !important;
          transition : all 0.35s ease !important;
}

.vertical-overlay-menu .main-menu .navigation > li ul li > a > i {
  margin-left : 1.25rem;
}

.vertical-overlay-menu .main-menu .navigation > li ul li:hover a {
  padding-right : 35px;
}

.vertical-overlay-menu .main-menu .navigation li.has-sub > a:not(.mm-next):after {
  content : '\ea4f';
  font-family : 'boxicons';
  font-size : 1.2rem;
  color : #8494A7;
  display : inline-block;
  position : absolute;
  left : 7px;
  -webkit-transform : rotate(0deg);
      -ms-transform : rotate(0deg);
          transform : rotate(0deg);
  transition : -webkit-transform 0.4s ease-in-out;
}

.vertical-overlay-menu .main-menu .navigation li.open > a:not(.mm-next):after {
  -webkit-transform : rotate(-180deg);
      -ms-transform : rotate(-180deg);
          transform : rotate(-180deg);
}

.vertical-overlay-menu.menu-open .main-menu {
  opacity : 1;
  -webkit-transform : translate3d(-260px, 0, 0);
          transform : translate3d(-260px, 0, 0);
  -webkit-transition : width 0.25s,opacity 0.25s,-webkit-transform 0.25s;
          transition : width 0.25s,opacity 0.25s,-webkit-transform 0.25s;
          transition : width 0.25s,opacity 0.25s,transform 0.25s;
          transition : width 0.25s,opacity 0.25s,transform 0.25s,-webkit-transform 0.25s;
  top : 0;
}

@media (max-width: 1199.98px) {
  .horizontal-layout.vertical-overlay-menu .app-content .content-wrapper {
    margin-top : 3.5rem;
  }
}