﻿@model CookieBot.ViewModels.VmManage
@{
    ViewBag.Title = "Cookie";

    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookiebot.fo</title>


    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">

    <!-- Main CSS -->
    <link href="~/Areas/Admin/Contents/css/cookiepopup.css" rel="stylesheet" />


</head>


<body>

    <div class="cookie-box mb-5" data-position="@Model.Dialog.PositionType">
        <div class="container">


            <div class="row justify-content-center">
                <div class="col-sm-11 col-md-12 col-lg-11">
                    <div class="cookie">
                        <div class="row align-items-center">
                            <div class="col-sm-2">
                                <div class="cookie-icon text-center">
                                    <svg width="75" height="76" viewBox="0 0 75 76" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M74.9493 35.5657C74.9116 34.8325 74.5104 34.1665 73.88 33.7906C73.2495 33.4144 72.473 33.3779 71.81 33.6928C70.0123 34.5469 68.0839 34.9799 66.0781 34.9799C58.6974 34.9799 52.6927 28.9709 52.6927 21.5846C52.6927 19.736 53.0623 17.9456 53.7912 16.2627C54.1493 15.4357 53.9666 14.4741 53.3303 13.836C52.6939 13.1978 51.7328 13.0127 50.9049 13.3689C49.8621 13.8174 48.7537 14.0448 47.6108 14.0448C43.0042 14.0448 39.2565 10.2939 39.2565 5.68356C39.2565 4.7434 39.4133 3.81672 39.7224 2.92962C39.9561 2.25931 39.8517 1.51747 39.4423 0.937742C39.0331 0.357871 38.3689 0.0113564 37.659 0.00710554L37.6195 0.00651922C37.5797 0.00607948 37.54 0.00549316 37.5 0.00549316C27.4832 0.00549316 18.0658 3.90877 10.9829 10.9962C3.90049 18.0832 0 27.506 0 37.5284C0 47.5508 3.90049 56.9735 10.9829 64.0605C18.0658 71.1481 27.4832 75.0512 37.5 75.0512C47.5168 75.0512 56.9342 71.1479 64.0171 64.0605C71.0995 56.9735 75 47.5508 75 37.5284C75.0001 36.8811 74.983 36.2206 74.9493 35.5657V35.5657ZM60.9066 60.9521C54.6544 67.2085 46.3417 70.654 37.5 70.654C28.6583 70.654 20.3456 67.2085 14.0934 60.9521C7.84086 54.6955 4.3974 46.3768 4.3974 37.5284C4.3974 28.6799 7.84086 20.3612 14.0934 14.1047C19.732 8.46243 27.0464 5.10633 34.9134 4.50183C34.8771 4.89379 34.8589 5.28794 34.8589 5.68371C34.8589 12.7188 40.5794 18.4423 47.6106 18.4423C47.9347 18.4423 48.2572 18.4303 48.5775 18.4064C48.3897 19.4477 48.2952 20.509 48.2952 21.5846C48.2952 31.3956 56.2725 39.3773 66.078 39.3773C67.6163 39.3773 69.121 39.1852 70.5787 38.8039C70.2641 47.1736 66.8578 54.9972 60.9066 60.9521V60.9521Z" fill="#0D9F24" />
                                        <path d="M21.682 35.6776C25.677 35.6776 28.9273 32.4257 28.9273 28.4289C28.9273 24.4321 25.677 21.1804 21.682 21.1804C17.6868 21.1804 14.4365 24.4321 14.4365 28.4289C14.4365 32.4257 17.6868 35.6776 21.682 35.6776ZM21.682 25.5778C23.2523 25.5778 24.5299 26.8569 24.5299 28.4289C24.5299 30.001 23.2523 31.2802 21.682 31.2802C20.1117 31.2802 18.8339 30.001 18.8339 28.4289C18.8339 26.8569 20.1115 25.5778 21.682 25.5778Z" fill="#0D9F24" />
                                        <path d="M23.0952 42.2132C19.3858 42.2132 16.3682 45.2323 16.3682 48.9431C16.3682 52.6539 19.3858 55.673 23.0952 55.673C26.8045 55.673 29.8223 52.6539 29.8223 48.9431C29.8223 45.2323 26.8045 42.2132 23.0952 42.2132ZM23.0952 51.2756C21.8105 51.2756 20.7656 50.2292 20.7656 48.9431C20.7656 47.657 21.8105 46.6106 23.0952 46.6106C24.3798 46.6106 25.4249 47.657 25.4249 48.9431C25.4249 50.2292 24.3798 51.2756 23.0952 51.2756Z" fill="#0D9F24" />
                                        <path d="M53.5019 43.3936C49.5069 43.3936 46.2566 46.6453 46.2566 50.6421C46.2566 54.6389 49.5069 57.8908 53.5019 57.8908C57.4971 57.8908 60.7473 54.6389 60.7473 50.6421C60.7473 46.6453 57.4971 43.3936 53.5019 43.3936V43.3936ZM53.5019 53.4934C51.9316 53.4934 50.654 52.2142 50.654 50.6421C50.654 49.07 51.9316 47.791 53.5019 47.791C55.0722 47.791 56.3499 49.07 56.3499 50.6421C56.3499 52.2142 55.0722 53.4934 53.5019 53.4934Z" fill="#0D9F24" />
                                        <path d="M40.5118 55.692C39.319 55.692 38.3521 56.6595 38.3521 57.853C38.3521 59.0466 39.319 60.0142 40.5118 60.0142C41.7045 60.0142 42.6715 59.0466 42.6715 57.853C42.6715 56.6595 41.7045 55.692 40.5118 55.692V55.692Z" fill="#0D9F24" />
                                        <path d="M27.6231 14.7812C28.8159 14.7812 29.7828 13.8136 29.7828 12.62C29.7828 11.4265 28.8159 10.4589 27.6231 10.4589C26.4303 10.4589 25.4634 11.4265 25.4634 12.62C25.4634 13.8136 26.4303 14.7812 27.6231 14.7812Z" fill="#0D9F24" />
                                        <path d="M12.6126 44.4119C13.8054 44.4119 14.7723 43.4443 14.7723 42.2507C14.7723 41.0571 13.8054 40.0895 12.6126 40.0895C11.4198 40.0895 10.4529 41.0571 10.4529 42.2507C10.4529 43.4443 11.4198 44.4119 12.6126 44.4119Z" fill="#0D9F24" />
                                        <path d="M33.3655 30.4636C32.1728 30.4636 31.2058 31.4311 31.2058 32.6247C31.2058 33.8183 32.1728 34.7858 33.3655 34.7858C34.5582 34.7858 35.5252 33.8182 35.5252 32.6247C35.5252 31.4311 34.5584 30.4636 33.3655 30.4636Z" fill="#0D9F24" />
                                        <path d="M46.2957 41.2903C47.4885 41.2903 48.4554 40.3227 48.4554 39.1291C48.4554 37.9355 47.4885 36.968 46.2957 36.968C45.1029 36.968 44.136 37.9355 44.136 39.1291C44.136 40.3227 45.1029 41.2903 46.2957 41.2903Z" fill="#0D9F24" />
                                    </svg>
                                </div>
                            </div>
                            <div class="col-sm-10">
                                <div class="cookie-content">
                                    <h3>@Model.Content.DialogHeading</h3>
                                    <p>
                                        @Html.Raw(WebUtility.HtmlDecode(Model.Content.DialogBody))
                                    </p>
                                    <div class="cookie-accept">
                                        <div class="checkbox no-drop">
                                            <span class="custome-checkbox locked">
                                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M12.6667 6.66665H13.3333C13.5101 6.66665 13.6797 6.73688 13.8047 6.86191C13.9298 6.98693 14 7.1565 14 7.33331V14C14 14.1768 13.9298 14.3464 13.8047 14.4714C13.6797 14.5964 13.5101 14.6666 13.3333 14.6666H2.66667C2.48986 14.6666 2.32029 14.5964 2.19526 14.4714C2.07024 14.3464 2 14.1768 2 14V7.33331C2 7.1565 2.07024 6.98693 2.19526 6.86191C2.32029 6.73688 2.48986 6.66665 2.66667 6.66665H3.33333V5.99998C3.33333 5.38714 3.45404 4.78031 3.68856 4.21412C3.92308 3.64794 4.26683 3.13349 4.70017 2.70015C5.13351 2.26681 5.64796 1.92306 6.21414 1.68854C6.78033 1.45402 7.38716 1.33331 8 1.33331C8.61284 1.33331 9.21967 1.45402 9.78586 1.68854C10.352 1.92306 10.8665 2.26681 11.2998 2.70015C11.7332 3.13349 12.0769 3.64794 12.3114 4.21412C12.546 4.78031 12.6667 5.38714 12.6667 5.99998V6.66665ZM3.33333 7.99998V13.3333H12.6667V7.99998H3.33333ZM7.33333 9.33331H8.66667V12H7.33333V9.33331ZM11.3333 6.66665V5.99998C11.3333 5.11592 10.9821 4.26808 10.357 3.64296C9.7319 3.01784 8.88406 2.66665 8 2.66665C7.11595 2.66665 6.2681 3.01784 5.64298 3.64296C5.01786 4.26808 4.66667 5.11592 4.66667 5.99998V6.66665H11.3333Z" fill="black" fill-opacity="0.5" />
                                                </svg>
                                            </span>
                                            <label for="">Necessary</label>
                                            <input type="checkbox" class="checkbox">
                                        </div>
                                        @if (Model.Dialog.Preference == true)
                                        {
                                            <div class="checkbox checkbox-active">
                                                <span class="custome-checkbox"></span>
                                                <label for="">Betra brúkarauppliving</label>
                                                <input type="checkbox" class="checkbox">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="checkbox">
                                                <span class="custome-checkbox"></span>
                                                <label for="">Preference</label>
                                                <input type="checkbox" class="checkbox">
                                            </div>
                                        }

                                        @if (Model.Dialog.Statistics == true)
                                        {
                                            <div class="checkbox checkbox-active">
                                                <span class="custome-checkbox"></span>
                                                <label for="">Statistics</label>
                                                <input type="checkbox" class="checkbox">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="checkbox">
                                                <span class="custome-checkbox"></span>
                                                <label for="">Statistics</label>
                                                <input type="checkbox" class="checkbox">
                                            </div>
                                        }

                                        @if (Model.Dialog.Marketing == true)
                                        {
                                            <div class="checkbox checkbox-active">
                                                <span class="custome-checkbox"></span>
                                                <label for="">Marketing</label>
                                                <input type="checkbox" class="checkbox">
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="checkbox ">
                                                <span class="custome-checkbox"></span>
                                                <label for="">Marketing</label>
                                                <input type="checkbox" class="checkbox">
                                            </div>
                                        }



                                    </div>
                                    @*<p>Tú fært altíð broytt og tikið burtur samtykkið við at trýsta á tannhjólið niðast til vinstru.</p>*@
                                </div>
                            </div>
                        </div>
                        <div class="cookie-action">
                            <div class="btn-groups">
                                <button class="btn btn-bordered cookie-details-opener">@Model.Content.TextInShowSectionButton</button>

                                @if (((int)Model.Dialog.Button) == 0)
                                {
                                    <button class="btn btn-filled">Use Necessary Cookies Only</button>
                                    <button class="btn  btn-bordered value-change">Allow Selection</button>
                                    <button class="btn  btn-bordered value-change">Allow All Cookies</button>
                                }
                                else if (((int)Model.Dialog.Button) == 1)
                                {
                                    <button class="btn  btn-bordered value-change">Allow Selection</button>
                                    <button class="btn  btn-bordered value-change">Allow All Cookies</button>
                                }
                                else if (((int)Model.Dialog.Button) == 2)
                                {
                                    <button class="btn btn-filled">Ok</button>
                                }

                            </div>
                            <div class="credit">
                                <a href="" target="_blank">
                                    <img src="images/logo.svg" alt="">
                                </a>
                            </div>
                        </div>
                 
                        <div class="cookie-details d-none">
                                <div class="declaration">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item">
                                            <a class="nav-link active" data-toggle="tab" href="#declaration">Cookie declaration </a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" data-toggle="tab" href="#about">About cookies </a>
                                        </li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane p-3 fade show active display-flex" id="declaration">
                                            <div class="nav flex-column nav-pills">
                                                <a class="nav-link active" data-toggle="pill" href="#v-pills-home">@Model.Content.NecessaryCategoryTitle</a>
                                                <a class="nav-link" data-toggle="pill" href="#v-pills-profile">@Model.Content.PreferenceCategoryTitle</a>
                                                <a class="nav-link" data-toggle="pill" href="#v-pills-messages">@Model.Content.StatisticCategoryTitle</a>
                                                <a class="nav-link" data-toggle="pill" href="#v-pills-settings">@Model.Content.MarketingCategoryTitle</a>
                                                <a class="nav-link" data-toggle="pill" href="#v-pills-unclassified">@Model.Content.UnclassifiedCategoryTitle</a>
                                            </div>
                                            <div class="tab-content pl-3 pr-3">
                                                <div class="tab-pane fade show active" id="v-pills-home">
                                                    <p>
                                                        @Html.Raw(WebUtility.HtmlDecode(Model.Content.NecessaryCookieIntroduction))

                                                    </p>
                                                </div>
                                                <div class="tab-pane fade" id="v-pills-profile">

                                                    @Html.Raw(WebUtility.HtmlDecode(Model.Content.PreferenceCookieIntroduction))
                                                </div>
                                                <div class="tab-pane fade" id="v-pills-messages">

                                                    @Html.Raw(WebUtility.HtmlDecode(Model.Content.StatisticCookieIntroduction))

                                                </div>
                                                <div class="tab-pane fade" id="v-pills-settings">

                                                    @Html.Raw(WebUtility.HtmlDecode(Model.Content.MarketingCookieIntroduction))
                                                </div>
                                                <div class="tab-pane fade" id="v-pills-unclassified">

                                                    @Html.Raw(WebUtility.HtmlDecode(Model.Content.UnclassifiedCookieIntroduction))
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade p-3" id="about">
                                            @Html.Raw(WebUtility.HtmlDecode(Model.Content.GeneralCookieIntroduction))


                                        </div>
                                </div>
                            </div>
                             </div>
                    </div>
                </div>
            </div>



        </div>
    </div>


    <!-- Jquery CDN -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>



    <script>
       $('input:checkbox.checkbox').change(function () {
                                                          if ($(this).is (":checked")) {
               $(this).parents('div.checkbox').addClass("checkbox-active");
                                                          } else
                                                          {
               $(this).parents('div.checkbox').removeClass("checkbox-active");
                                                          }
                                                      });
       $('input:checkbox.checkbox').change(function () {
                                                          if ($('input:checkbox.checkbox').is (":checked")) {
               $('.value-change').text('Góðtak valdu');
                                                          } else
                                                          {
               $('.value-change').text('Góðtak neyðugar');
                                                          }
                                                      });

       $('.cookie-details-opener').click(function () {
           $('.cookie-details').toggleClass('d-none');
           $(this).toggleClass('text-change');
                                                      })

       $('.cookie-details-opener').click(function ()
       {
                                                          if ($(this).is (".text-change")) {
               $(this).text('@Model.Content.TextInHideDetailsButton');
                                                          } else
                                                          {
               $(this).text('@Model.Content.TextInShowSectionButton');
                                                          }
                                                      });
    </script>


</body>
  </html>



















  <!--Old Cookie Popup Design-->
                                            @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://localhost:44380/Content/css/style.css" rel="stylesheet" />
    <div id="CybotCookiebotDialog"
         name="CybotCookiebotDialog"
         role="dialog"
         aria-describedby="CybotCookiebotDialogBodyContentTitle"
         lang="en"
         dir="ltr"
         ng-non-bindable=""
         style="display: block; padding-bottom: 18px; opacity: 1; top: 195px; width: 100%; height: auto;">
        <div id="CybotCookiebotDialogBody">
            <div id="CybotCookiebotDialogPoweredbyLink" style="display: none;"><img id="CybotCookiebotDialogPoweredbyImage" src="" alt="" /></div>
            <div id="CybotCookiebotDialogBodyContent" style="padding-left: 8px;">
                <h2 id="CybotCookiebotDialogBodyContentTitle" lang="en">This website uses cookies</h2>
                <div id="CybotCookiebotDialogBodyContentText" lang="en">
                    We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners who
                    may combine it with other information that you’ve provided to them or that they’ve collected from your use of their services
                </div>
            </div>
            <div id="CybotCookiebotDialogBodyContentControls" style="display: none;">
                <div class="CybotCookiebotDialogBodyContentControlsWrapper">
                    <input type="checkbox" id="CybotCookiebotDialogBodyContentCheckboxPersonalInformation" class="CybotCookiebotDialogBodyLevelButton" tabindex="0" />
                    <label class="CybotCookiebotDialogBodyContentLabelPersonalInformation" for="CybotCookiebotDialogBodyContentCheckboxPersonalInformation">[#OOI_PERSONAL_INFORMATION#]</label>
                </div>
            </div>
            <div id="CybotCookiebotDialogBodyButtons" style="display: none;">
                <a id="CybotCookiebotDialogBodyButtonDecline" class="CybotCookiebotDialogBodyButton" href="#" tabindex="0" lang="en"> Use necessary cookies only </a>
                <a id="CybotCookiebotDialogBodyButtonAccept" class="CybotCookiebotDialogBodyButton" href="#" tabindex="0" lang="en" style="margin-left: 2px;"> Allow all cookies </a>
                <a id="CybotCookiebotDialogBodyButtonDetails" class="CybotCookiebotDialogBodyLink" href="#" tabindex="0" lang="en"> Show details </a>
            </div>
            <div id="CybotCookiebotDialogBodyLevelWrapper" style="display: block;">
                <div id="CybotCookiebotDialogBodyLevelButtonAcceptWrapper" style="display: none;"><a id="CybotCookiebotDialogBodyLevelButtonAccept" href="#" tabindex="0" lang="en"> OK </a></div>
                <div id="CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelectionWrapper" style="display: block;">
                    <a id="CybotCookiebotDialogBodyLevelButtonLevelOptinDeclineAll" class="CybotCookiebotDialogBodyButton" href="#" tabindex="0" lang="en" style="width: 155px;"> Use necessary cookies only </a>
                    <a id="CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection" class="CybotCookiebotDialogBodyButton AllowSectionButton" href="#" tabindex="0" lang="en" style="width: 155px;"> Allow selection </a>
                    <a id="CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll" class="CybotCookiebotDialogBodyButton" href="#" tabindex="0" lang="en" style="width: 155px;"> Allow all cookies </a>
                </div>
                <div id="CybotCookiebotDialogBodyLevelButtons" style="margin-left: 8px; float: left; pointer-events: auto; margin-right: 0px;">
                    <div id="CybotCookiebotDialogBodyLevelButtonsTable" style="width: 624px;">
                        <div id="CybotCookiebotDialogBodyLevelButtonsRow">
                            <div id="CybotCookiebotDialogBodyLevelButtonsSelectPane">
                                <div class="CybotCookiebotDialogBodyLevelButtonWrapper"
                                     title="Mandatory - can not be deselected. Necessary cookies help make a website usable by enabling basic functions like page navigation and access to secure areas of the website. The website cannot function properly without these cookies.">
                                    <input type="checkbox" id="CybotCookiebotDialogBodyLevelButtonNecessary" class="CybotCookiebotDialogBodyLevelButton CybotCookiebotDialogBodyLevelButtonDisabled" disabled="disabled" checked="checked" />
                                    <label for="CybotCookiebotDialogBodyLevelButtonNecessary">Necessary</label>
                                </div>
                                <div class="CybotCookiebotDialogBodyLevelButtonWrapper"
                                     title="Preference cookies enable a website to remember information that changes the way the website behaves or looks, like your preferred language or the region that you are in.">
                                    <input type="checkbox" id="CybotCookiebotDialogBodyLevelButtonPreferences" class="CybotCookiebotDialogBodyLevelButton" tabindex="0" />
                                    <label for="CybotCookiebotDialogBodyLevelButtonPreferences">Preferences</label>
                                </div>
                                <div class="CybotCookiebotDialogBodyLevelButtonWrapper" title="Statistic cookies help website owners to understand how visitors interact with websites by collecting and reporting information anonymously.">
                                    <input type="checkbox" id="CybotCookiebotDialogBodyLevelButtonStatistics" class="CybotCookiebotDialogBodyLevelButton" tabindex="0" />
                                    <label for="CybotCookiebotDialogBodyLevelButtonStatistics">Statistics</label>
                                </div>
                                <div class="CybotCookiebotDialogBodyLevelButtonWrapper"
                                     title="Marketing cookies are used to track visitors across websites. The intention is to display ads that are relevant and engaging for the individual user and thereby more valuable for publishers and third party advertisers.">
                                    <input type="checkbox" id="CybotCookiebotDialogBodyLevelButtonMarketing" class="CybotCookiebotDialogBodyLevelButton" tabindex="0" />
                                    <label for="CybotCookiebotDialogBodyLevelButtonMarketing">Marketing</label>
                                </div>
                            </div>
                            <div id="CybotCookiebotDialogBodyLevelDetailsWrapper"><a id="CybotCookiebotDialogBodyLevelDetailsButton" class="CybotCookiebotDialogBodyLink" href="#" tabindex="0" lang="en">Show details</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="CybotCookiebotDialogDetail" style="display: none;">
            <div id="CybotCookiebotDialogDetailBody">
                <div id="CybotCookiebotDialogDetailBodyContentTabs">
                    <a id="CybotCookiebotDialogDetailBodyContentTabsOverview" class="CybotCookiebotDialogDetailBodyContentTab CybotCookiebotDialogDetailBodyContentTabsItemSelected" href="#" lang="en"> Cookie declaration </a>
                    <a id="CybotCookiebotDialogDetailBodyContentTabsIABv2" class="CybotCookiebotDialogDetailBodyContentTab CybotCookiebotDialogDetailBodyContentTabsItem" href="#" lang="en" style="display: none;"> [#IABV2SETTINGS#] </a>
                    <a id="CybotCookiebotDialogDetailBodyContentTabsAbout" class="CybotCookiebotDialogDetailBodyContentTab CybotCookiebotDialogDetailBodyContentTabsItem" href="#" lang="en"> About cookies </a>
                </div>
                <div id="CybotCookiebotDialogDetailBodyContent">
                    <div id="CybotCookiebotDialogDetailBodyContentTextOverview" lang="en">
                        <div id="CybotCookiebotDialogDetailBodyContentCookieContainer">
                            <div id="CybotCookiebotDialogDetailBodyContentCookieContainerTypes">
                                <a id="CybotCookiebotDialogDetailBodyContentCookieContainerNecessary"
                                   href="#"
                                   class="CybotCookiebotDialogDetailBodyContentCookieContainerTypesSelected"
                                   lang="en"
                                   aria-label="Necessary (35)"
                                   style="border-top: 0px;">
                                    <label for="CybotCookiebotDialogDetailBodyContentCookieContainerNecessary" aria-hidden="true">&thinsp;</label>Necessary (35)
                                </a>
                                <a id="CybotCookiebotDialogDetailBodyContentCookieContainerPreference" href="#" class="CybotCookiebotDialogDetailBodyContentCookieContainerTypes" lang="en" aria-label="Preferences (10)">
                                    <label for="CybotCookiebotDialogDetailBodyContentCookieContainerPreference" aria-hidden="true">&thinsp;</label>Preferences (10)
                                </a>
                                <a id="CybotCookiebotDialogDetailBodyContentCookieContainerStatistics" href="#" class="CybotCookiebotDialogDetailBodyContentCookieContainerTypes" lang="en" aria-label="Statistics (20)">
                                    <label for="CybotCookiebotDialogDetailBodyContentCookieContainerStatistics" aria-hidden="true">&thinsp;</label>Statistics (20)
                                </a>
                                <a id="CybotCookiebotDialogDetailBodyContentCookieContainerAdvertising" href="#" class="CybotCookiebotDialogDetailBodyContentCookieContainerTypes" lang="en" aria-label="Marketing (30)">
                                    <label for="CybotCookiebotDialogDetailBodyContentCookieContainerAdvertising" aria-hidden="true">&thinsp;</label>Marketing (30)
                                </a>
                                <a id="CybotCookiebotDialogDetailBodyContentCookieContainerUnclassified" href="#" class="CybotCookiebotDialogDetailBodyContentCookieContainerTypes" lang="en" aria-label="Unclassified (0)">
                                    <label for="CybotCookiebotDialogDetailBodyContentCookieContainerUnclassified" aria-hidden="true">&thinsp;</label>Unclassified (0)
                                </a>
                            </div>
                            <div id="CybotCookiebotDialogDetailBodyContentCookieContainerTypeDetails">
                                <div id="CybotCookiebotDialogDetailBodyContentCookieTabsNecessary">
                                    <div class="CybotCookiebotDialogDetailBodyContentCookieTypeIntro">
                                        Necessary cookies help make a website usable by enabling basic functions like page navigation and access to secure areas of the website. The website cannot function properly without these cookies.
                                    </div>
                                    <div class="CybotCookiebotDialogDetailBodyContentCookieTypeTableContainer">
                                        <table id="CybotCookiebotDialogDetailTableNecessary" class="CybotCookiebotDialogDetailBodyContentCookieTypeTable">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Provider</th>
                                                    <th scope="col">Purpose</th>
                                                    <th scope="col">Expiry</th>
                                                    <th scope="col">Type</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td title="__RequestVerificationToken">__RequestVerificationToken</td>
                                                    <td><a href="https://www.cookiebot.com/goto/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Cookiebot's privacy policy">Cookiebot</a></td>
                                                    <td title="Helps prevent Cross-Site Request Forgery (CSRF) attacks.">Helps prevent Cross-Site Request Forgery (CSRF) attacks.</td>
                                                    <td title="Session">Session</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="_abck">_abck</td>
                                                    <td><a href="https://www.cookiebot.com/goto/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Cookiebot's privacy policy">Cookiebot</a></td>
                                                    <td title="Used to detect and defend against replay-cookie-attacks – The cookie is necessary for the security and integrity of the website. ">
                                                        Used to detect and defend against replay-cookie-attacks – The cookie is necessary for the security and integrity of the website.
                                                    </td>
                                                    <td title="1 year">1 year</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="ak_bmsc">ak_bmsc</td>
                                                    <td><a href="https://www.cookiebot.com/goto/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Cookiebot's privacy policy">Cookiebot</a></td>
                                                    <td title="This cookie is used to distinguish between humans and bots. This is beneficial for the website, in order to make valid reports on the use of their website.">
                                                        This cookie is used to distinguish between humans and bots. This is beneficial for the website, in order to make valid reports on the use of their website.
                                                    </td>
                                                    <td title="1 day">1 day</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="ASP.NET_SessionId">ASP.NET_SessionId&nbsp;[x2]</td>
                                                    <td><a href="https://www.cookiebot.com/goto/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Cookiebot's privacy policy">Cookiebot</a></td>
                                                    <td title="Preserves the visitor's session state across page requests.">Preserves the visitor's session state across page requests.</td>
                                                    <td title="Session">Session</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="ASPXAUTH">ASPXAUTH</td>
                                                    <td><a href="https://www.cookiebot.com/goto/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Cookiebot's privacy policy">Cookiebot</a></td>
                                                    <td title="Identifies the user and allows authentication to the server">Identifies the user and allows authentication to the server</td>
                                                    <td title="Session">Session</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="bm_mi">bm_mi</td>
                                                    <td><a href="https://www.cookiebot.com/goto/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Cookiebot's privacy policy">Cookiebot</a></td>
                                                    <td title="Used in context with the website's BotManager. The BotManager detects, categorizes and compiles reports on potential bots trying to access the website.">
                                                        Used in context with the website's BotManager. The BotManager detects, categorizes and compiles reports on potential bots trying to access the website.
                                                    </td>
                                                    <td title="1 day">1 day</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="bm_sv">bm_sv</td>
                                                    <td><a href="https://www.cookiebot.com/goto/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Cookiebot's privacy policy">Cookiebot</a></td>
                                                    <td title="Used in context with the website's BotManager. The BotManager detects, categorizes and compiles reports on potential bots trying to access the website.">
                                                        Used in context with the website's BotManager. The BotManager detects, categorizes and compiles reports on potential bots trying to access the website.
                                                    </td>
                                                    <td title="1 day">1 day</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="bm_sz">bm_sz</td>
                                                    <td><a href="https://www.cookiebot.com/goto/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Cookiebot's privacy policy">Cookiebot</a></td>
                                                    <td title="Used in context with the website's BotManager. The BotManager detects, categorizes and compiles reports on potential bots trying to access the website.">
                                                        Used in context with the website's BotManager. The BotManager detects, categorizes and compiles reports on potential bots trying to access the website.
                                                    </td>
                                                    <td title="1 day">1 day</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="CookieConsent">CookieConsent&nbsp;[x4]</td>
                                                    <td><a href="https://www.cookiebot.com/goto/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Cookiebot's privacy policy">Cookiebot</a></td>
                                                    <td title="Stores the user's cookie consent state for the current domain">Stores the user's cookie consent state for the current domain</td>
                                                    <td title="1 year">1 year</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="ZD-arturos">ZD-arturos&nbsp;[x2]</td>
                                                    <td><a href="https://www.zendesk.com/company/customers-partners/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Zendesk's privacy policy">Zendesk</a></td>
                                                    <td title="Used to push or test different features in relation to the website’s Zendesk integration on a single user basis. ">
                                                        Used to push or test different features in relation to the website’s Zendesk integration on a single user basis.
                                                    </td>
                                                    <td title="Persistent">Persistent</td>
                                                    <td title="HTML">HTML</td>
                                                </tr>
                                                <tr>
                                                    <td title="ZD-suid">ZD-suid&nbsp;[x2]</td>
                                                    <td><a href="https://www.zendesk.com/company/customers-partners/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Zendesk's privacy policy">Zendesk</a></td>
                                                    <td title="Unique id that identifies the user's session.">Unique id that identifies the user's session.</td>
                                                    <td title="Persistent">Persistent</td>
                                                    <td title="HTML">HTML</td>
                                                </tr>
                                                <tr>
                                                    <td title="__cfruid">__cfruid&nbsp;[x3]</td>
                                                    <td>
                                                        <a href="https://www.zendesk.com/company/customers-partners/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Zendesk's privacy policy">Zendesk</a><br />
                                                        <a href="https://www.cookiebot.com/goto/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Cookiebot's privacy policy">Cookiebot</a>
                                                    </td>
                                                    <td title="This cookie is a part of the services provided by Cloudflare - Including load-balancing, deliverance of website content and serving DNS connection for website operators. ">
                                                        This cookie is a part of the services provided by Cloudflare - Including load-balancing, deliverance of website content and serving DNS connection for website operators.
                                                    </td>
                                                    <td title="Session">Session</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="li_gc">li_gc</td>
                                                    <td><a href="https://www.linkedin.com/legal/privacy-policy" target="_blank" rel="noopener noreferrer nofollow" title="LinkedIn's privacy policy">LinkedIn</a></td>
                                                    <td title="Stores the user's cookie consent state for the current domain">Stores the user's cookie consent state for the current domain</td>
                                                    <td title="2 years">2 years</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="CONSENT">CONSENT&nbsp;[x2]</td>
                                                    <td><a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer nofollow" title="YouTube's privacy policy">YouTube</a></td>
                                                    <td title="Used to detect if the visitor has accepted the marketing category in the cookie banner. This cookie is necessary for GDPR-compliance of the website.  ">
                                                        Used to detect if the visitor has accepted the marketing category in the cookie banner. This cookie is necessary for GDPR-compliance of the website.
                                                    </td>
                                                    <td title="6049 days">6049 days</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="ARRAffinity">ARRAffinity</td>
                                                    <td><a href="https://www.cybot.com/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Cybot's privacy policy">Cybot</a></td>
                                                    <td title="Used to distribute traffic to the website on several servers in order to optimise response times.">
                                                        Used to distribute traffic to the website on several servers in order to optimise response times.
                                                    </td>
                                                    <td title="Session">Session</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="ARRAffinitySameSite">ARRAffinitySameSite</td>
                                                    <td><a href="https://www.cybot.com/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Cybot's privacy policy">Cybot</a></td>
                                                    <td title="Used to distribute traffic to the website on several servers in order to optimise response times.">
                                                        Used to distribute traffic to the website on several servers in order to optimise response times.
                                                    </td>
                                                    <td title="Session">Session</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="__cf_bm">__cf_bm&nbsp;[x2]</td>
                                                    <td>
                                                        <a href="https://www.zendesk.com/company/customers-partners/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Zendesk's privacy policy">Zendesk</a><br />
                                                        <a href="https://www.cookiebot.com/goto/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Cookiebot's privacy policy">Cookiebot</a>
                                                    </td>
                                                    <td title="This cookie is used to distinguish between humans and bots. This is beneficial for the website, in order to make valid reports on the use of their website.">
                                                        This cookie is used to distinguish between humans and bots. This is beneficial for the website, in order to make valid reports on the use of their website.
                                                    </td>
                                                    <td title="1 day">1 day</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="_zendesk_session">_zendesk_session&nbsp;[x3]</td>
                                                    <td>
                                                        <a href="https://www.zendesk.com/company/customers-partners/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Zendesk's privacy policy">Zendesk</a><br />
                                                        <a href="https://www.cookiebot.com/goto/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Cookiebot's privacy policy">Cookiebot</a>
                                                    </td>
                                                    <td title="Preserves users states across page requests.">Preserves users states across page requests.</td>
                                                    <td title="Session">Session</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="_zendesk_shared_session">_zendesk_shared_session&nbsp;[x3]</td>
                                                    <td>
                                                        <a href="https://www.zendesk.com/company/customers-partners/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Zendesk's privacy policy">Zendesk</a><br />
                                                        <a href="https://www.cookiebot.com/goto/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Cookiebot's privacy policy">Cookiebot</a>
                                                    </td>
                                                    <td title="Preserves users states across page requests.">Preserves users states across page requests.</td>
                                                    <td title="Session">Session</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="_zendesk_thirdparty_test">_zendesk_thirdparty_test</td>
                                                    <td><a href="https://www.zendesk.com/company/customers-partners/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Zendesk's privacy policy">Zendesk</a></td>
                                                    <td title="Tests whether the website user's browser allows third party cookies.">Tests whether the website user's browser allows third party cookies.</td>
                                                    <td title="Session">Session</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="_help_center_session">_help_center_session</td>
                                                    <td><a href="https://www.zendesk.com/company/customers-partners/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Zendesk's privacy policy">Zendesk</a></td>
                                                    <td title="Preserves users states across page requests.">Preserves users states across page requests.</td>
                                                    <td title="Session">Session</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="CybotCookiebotDialogDetailBodyContentCookieTabsPreference">
                                    <div class="CybotCookiebotDialogDetailBodyContentCookieTypeIntro">
                                        Preference cookies enable a website to remember information that changes the way the website behaves or looks, like your preferred language or the region that you are in.
                                    </div>
                                    <div class="CybotCookiebotDialogDetailBodyContentCookieTypeTableContainer">
                                        <table id="CybotCookiebotDialogDetailTablePreference" class="CybotCookiebotDialogDetailBodyContentCookieTypeTable">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Provider</th>
                                                    <th scope="col">Purpose</th>
                                                    <th scope="col">Expiry</th>
                                                    <th scope="col">Type</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td title="lang">lang&nbsp;[x2]</td>
                                                    <td><a href="https://www.linkedin.com/legal/privacy-policy" target="_blank" rel="noopener noreferrer nofollow" title="LinkedIn's privacy policy">LinkedIn</a></td>
                                                    <td title="Remembers the user's selected language version of a website">Remembers the user's selected language version of a website</td>
                                                    <td title="Session">Session</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="CookieConsentBulkSetting-#">CookieConsentBulkSetting-#</td>
                                                    <td><a href="https://www.cookiebot.com/goto/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Cookiebot's privacy policy">Cookiebot</a></td>
                                                    <td title="Enables cookie consent across multiple websites">Enables cookie consent across multiple websites</td>
                                                    <td title="Persistent">Persistent</td>
                                                    <td title="HTML">HTML</td>
                                                </tr>
                                                <tr>
                                                    <td title="MasterPopup">MasterPopup</td>
                                                    <td><a href="https://www.cookiebot.com/goto/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Cookiebot's privacy policy">Cookiebot</a></td>
                                                    <td title="Determines if the popup should be displayed to the user.">Determines if the popup should be displayed to the user.</td>
                                                    <td title="30 days">30 days</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="userlang">userlang&nbsp;[x2]</td>
                                                    <td><a href="https://www.cookiebot.com/goto/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Cookiebot's privacy policy">Cookiebot</a></td>
                                                    <td title="Remembers the user's selected language version of a website">Remembers the user's selected language version of a website</td>
                                                    <td title="1 year">1 year</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="ZD-settings">ZD-settings</td>
                                                    <td><a href="https://www.zendesk.com/company/customers-partners/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Zendesk's privacy policy">Zendesk</a></td>
                                                    <td title="Arbitrary settings for the user's preferences when browsing a Zendesk knowledge base.">Arbitrary settings for the user's preferences when browsing a Zendesk knowledge base.</td>
                                                    <td title="Persistent">Persistent</td>
                                                    <td title="HTML">HTML</td>
                                                </tr>
                                                <tr>
                                                    <td title="ZD-store">ZD-store&nbsp;[x2]</td>
                                                    <td><a href="https://www.zendesk.com/company/customers-partners/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Zendesk's privacy policy">Zendesk</a></td>
                                                    <td title="Registers whether the self-service-assistant Zendesk Answer Bot has been displayed to the website user.">
                                                        Registers whether the self-service-assistant Zendesk Answer Bot has been displayed to the website user.
                                                    </td>
                                                    <td title="Persistent">Persistent</td>
                                                    <td title="HTML">HTML</td>
                                                </tr>
                                                <tr>
                                                    <td title="ZD-automaticAnswers">ZD-automaticAnswers</td>
                                                    <td><a href="https://www.zendesk.com/company/customers-partners/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Zendesk's privacy policy">Zendesk</a></td>
                                                    <td title="Used in context with the Zendesk Answer Bot function – This function sets an account-ID, in order to identify users upon support-requests and detect whether an existing help-article is relevant.">
                                                        Used in context with the Zendesk Answer Bot function – This function sets an account-ID, in order to identify users upon support-requests and detect whether an existing help-article is
                                                        relevant.
                                                    </td>
                                                    <td title="Persistent">Persistent</td>
                                                    <td title="HTML">HTML</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="CybotCookiebotDialogDetailBodyContentCookieTabsStatistics">
                                    <div class="CybotCookiebotDialogDetailBodyContentCookieTypeIntro">
                                        Statistic cookies help website owners to understand how visitors interact with websites by collecting and reporting information anonymously.
                                    </div>
                                    <div class="CybotCookiebotDialogDetailBodyContentCookieTypeTableContainer">
                                        <table id="CybotCookiebotDialogDetailTableStatistics" class="CybotCookiebotDialogDetailBodyContentCookieTypeTable">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Provider</th>
                                                    <th scope="col">Purpose</th>
                                                    <th scope="col">Expiry</th>
                                                    <th scope="col">Type</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td title="_ga">_ga&nbsp;[x4]</td>
                                                    <td><a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer nofollow" title="Google's privacy policy">Google</a></td>
                                                    <td title="Registers a unique ID that is used to generate statistical data on how the visitor uses the website.">
                                                        Registers a unique ID that is used to generate statistical data on how the visitor uses the website.
                                                    </td>
                                                    <td title="2 years">2 years</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="_ga_#">_ga_#&nbsp;[x2]</td>
                                                    <td><a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer nofollow" title="Google Tag Manager's privacy policy">Google Tag Manager</a></td>
                                                    <td title="Used by Google Analytics to collect data on the number of times a user has visited the website as well as dates for the first and most recent visit. ">
                                                        Used by Google Analytics to collect data on the number of times a user has visited the website as well as dates for the first and most recent visit.
                                                    </td>
                                                    <td title="2 years">2 years</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="_gat">_gat&nbsp;[x4]</td>
                                                    <td><a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer nofollow" title="Google's privacy policy">Google</a></td>
                                                    <td title="Used by Google Analytics to throttle request rate">Used by Google Analytics to throttle request rate</td>
                                                    <td title="1 day">1 day</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="_gid">_gid&nbsp;[x4]</td>
                                                    <td><a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer nofollow" title="Google's privacy policy">Google</a></td>
                                                    <td title="Registers a unique ID that is used to generate statistical data on how the visitor uses the website.">
                                                        Registers a unique ID that is used to generate statistical data on how the visitor uses the website.
                                                    </td>
                                                    <td title="1 day">1 day</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="ZD-buid">ZD-buid&nbsp;[x2]</td>
                                                    <td><a href="https://www.zendesk.com/company/customers-partners/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Zendesk's privacy policy">Zendesk</a></td>
                                                    <td title="Unique id that identifies the user on recurring visits.">Unique id that identifies the user on recurring visits.</td>
                                                    <td title="Persistent">Persistent</td>
                                                    <td title="HTML">HTML</td>
                                                </tr>
                                                <tr>
                                                    <td title="collect">collect</td>
                                                    <td><a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer nofollow" title="Google's privacy policy">Google</a></td>
                                                    <td title="Used to send data to Google Analytics about the visitor's device and behaviour. Tracks the visitor across devices and marketing channels.">
                                                        Used to send data to Google Analytics about the visitor's device and behaviour. Tracks the visitor across devices and marketing channels.
                                                    </td>
                                                    <td title="Session">Session</td>
                                                    <td title="Pixel">Pixel</td>
                                                </tr>
                                                <tr>
                                                    <td title="AnalyticsSyncHistory">AnalyticsSyncHistory</td>
                                                    <td><a href="https://www.linkedin.com/legal/privacy-policy" target="_blank" rel="noopener noreferrer nofollow" title="LinkedIn's privacy policy">LinkedIn</a></td>
                                                    <td title="Used in connection with data-synchronization with third-party analysis service. ">Used in connection with data-synchronization with third-party analysis service.</td>
                                                    <td title="29 days">29 days</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="hc:#:recently_visited_articles">hc:#:recently_visited_articles</td>
                                                    <td><a href="https://www.zendesk.com/company/customers-partners/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Zendesk's privacy policy">Zendesk</a></td>
                                                    <td title="Registers which articles the user has visited in a Zendesk knowledge base.">Registers which articles the user has visited in a Zendesk knowledge base.</td>
                                                    <td title="Persistent">Persistent</td>
                                                    <td title="HTML">HTML</td>
                                                </tr>
                                                <tr>
                                                    <td title="loglevel">loglevel</td>
                                                    <td><a href="https://www.zendesk.com/company/customers-partners/privacy-policy/" target="_blank" rel="noopener noreferrer nofollow" title="Zendesk's privacy policy">Zendesk</a></td>
                                                    <td title="Collects data on visitor interaction with the website's video-content - This data is used to make the website's video-content more relevant towards the visitor.  ">
                                                        Collects data on visitor interaction with the website's video-content - This data is used to make the website's video-content more relevant towards the visitor.
                                                    </td>
                                                    <td title="Persistent">Persistent</td>
                                                    <td title="HTML">HTML</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="CybotCookiebotDialogDetailBodyContentCookieTabsAdvertising">
                                    <div class="CybotCookiebotDialogDetailBodyContentCookieTypeIntro">
                                        Marketing cookies are used to track visitors across websites. The intention is to display ads that are relevant and engaging for the individual user and thereby more valuable for publishers and third
                                        party advertisers.
                                    </div>
                                    <div class="CybotCookiebotDialogDetailBodyContentCookieTypeTableContainer">
                                        <table id="CybotCookiebotDialogDetailTableAdvertising" class="CybotCookiebotDialogDetailBodyContentCookieTypeTable">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Provider</th>
                                                    <th scope="col">Purpose</th>
                                                    <th scope="col">Expiry</th>
                                                    <th scope="col">Type</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td title="_gcl_au">_gcl_au</td>
                                                    <td><a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer nofollow" title="Google Tag Manager's privacy policy">Google Tag Manager</a></td>
                                                    <td title="Used by Google AdSense for experimenting with advertisement efficiency across websites using their services.  ">
                                                        Used by Google AdSense for experimenting with advertisement efficiency across websites using their services.
                                                    </td>
                                                    <td title="3 months">3 months</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="IDE">IDE</td>
                                                    <td><a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer nofollow" title="Google's privacy policy">Google</a></td>
                                                    <td title="Used by Google DoubleClick to register and report the website user's actions after viewing or clicking one of the advertiser's ads with the purpose of measuring the efficacy of an ad and to present targeted ads to the user.">
                                                        Used by Google DoubleClick to register and report the website user's actions after viewing or clicking one of the advertiser's ads with the purpose of measuring the efficacy of an ad and
                                                        to present targeted ads to the user.
                                                    </td>
                                                    <td title="1 year">1 year</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="pagead/landing">pagead/landing&nbsp;[x2]</td>
                                                    <td><a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer nofollow" title="Google's privacy policy">Google</a></td>
                                                    <td title="Collects data on visitor behaviour from multiple websites, in order to present more relevant advertisement - This also allows the website to limit the number of times that they are shown the same advertisement. ">
                                                        Collects data on visitor behaviour from multiple websites, in order to present more relevant advertisement - This also allows the website to limit the number of times that they are shown
                                                        the same advertisement.
                                                    </td>
                                                    <td title="Session">Session</td>
                                                    <td title="Pixel">Pixel</td>
                                                </tr>
                                                <tr>
                                                    <td title="test_cookie">test_cookie</td>
                                                    <td><a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer nofollow" title="Google's privacy policy">Google</a></td>
                                                    <td title="Used to check if the user's browser supports cookies.">Used to check if the user's browser supports cookies.</td>
                                                    <td title="1 day">1 day</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="ads/ga-audiences">ads/ga-audiences</td>
                                                    <td><a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer nofollow" title="Google's privacy policy">Google</a></td>
                                                    <td title="Used by Google AdWords to re-engage visitors that are likely to convert to customers based on the visitor's online behaviour across websites.">
                                                        Used by Google AdWords to re-engage visitors that are likely to convert to customers based on the visitor's online behaviour across websites.
                                                    </td>
                                                    <td title="Session">Session</td>
                                                    <td title="Pixel">Pixel</td>
                                                </tr>
                                                <tr>
                                                    <td title="bcookie">bcookie</td>
                                                    <td><a href="https://www.linkedin.com/legal/privacy-policy" target="_blank" rel="noopener noreferrer nofollow" title="LinkedIn's privacy policy">LinkedIn</a></td>
                                                    <td title="Used by the social networking service, LinkedIn, for tracking the use of embedded services.">
                                                        Used by the social networking service, LinkedIn, for tracking the use of embedded services.
                                                    </td>
                                                    <td title="2 years">2 years</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="bscookie">bscookie</td>
                                                    <td><a href="https://www.linkedin.com/legal/privacy-policy" target="_blank" rel="noopener noreferrer nofollow" title="LinkedIn's privacy policy">LinkedIn</a></td>
                                                    <td title="Used by the social networking service, LinkedIn, for tracking the use of embedded services.">
                                                        Used by the social networking service, LinkedIn, for tracking the use of embedded services.
                                                    </td>
                                                    <td title="2 years">2 years</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="lidc">lidc</td>
                                                    <td><a href="https://www.linkedin.com/legal/privacy-policy" target="_blank" rel="noopener noreferrer nofollow" title="LinkedIn's privacy policy">LinkedIn</a></td>
                                                    <td title="Used by the social networking service, LinkedIn, for tracking the use of embedded services.">
                                                        Used by the social networking service, LinkedIn, for tracking the use of embedded services.
                                                    </td>
                                                    <td title="1 day">1 day</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="UserMatchHistory">UserMatchHistory</td>
                                                    <td><a href="https://www.linkedin.com/legal/privacy-policy" target="_blank" rel="noopener noreferrer nofollow" title="LinkedIn's privacy policy">LinkedIn</a></td>
                                                    <td title="Used to track visitors on multiple websites, in order to present relevant advertisement based on the visitor's preferences.  ">
                                                        Used to track visitors on multiple websites, in order to present relevant advertisement based on the visitor's preferences.
                                                    </td>
                                                    <td title="29 days">29 days</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="VISITOR_INFO1_LIVE">VISITOR_INFO1_LIVE</td>
                                                    <td><a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer nofollow" title="YouTube's privacy policy">YouTube</a></td>
                                                    <td title="Tries to estimate the users' bandwidth on pages with integrated YouTube videos.">Tries to estimate the users' bandwidth on pages with integrated YouTube videos.</td>
                                                    <td title="179 days">179 days</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="YSC">YSC</td>
                                                    <td><a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer nofollow" title="YouTube's privacy policy">YouTube</a></td>
                                                    <td title="Registers a unique ID to keep statistics of what videos from YouTube the user has seen.">Registers a unique ID to keep statistics of what videos from YouTube the user has seen.</td>
                                                    <td title="Session">Session</td>
                                                    <td title="HTTP">HTTP</td>
                                                </tr>
                                                <tr>
                                                    <td title="yt.innertube::nextId">yt.innertube::nextId&nbsp;[x2]</td>
                                                    <td><a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer nofollow" title="YouTube's privacy policy">YouTube</a></td>
                                                    <td title="Registers a unique ID to keep statistics of what videos from YouTube the user has seen.">Registers a unique ID to keep statistics of what videos from YouTube the user has seen.</td>
                                                    <td title="Persistent">Persistent</td>
                                                    <td title="HTML">HTML</td>
                                                </tr>
                                                <tr>
                                                    <td title="yt.innertube::requests">yt.innertube::requests&nbsp;[x2]</td>
                                                    <td><a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer nofollow" title="YouTube's privacy policy">YouTube</a></td>
                                                    <td title="Registers a unique ID to keep statistics of what videos from YouTube the user has seen.">Registers a unique ID to keep statistics of what videos from YouTube the user has seen.</td>
                                                    <td title="Persistent">Persistent</td>
                                                    <td title="HTML">HTML</td>
                                                </tr>
                                                <tr>
                                                    <td title="yt-remote-cast-installed">yt-remote-cast-installed&nbsp;[x2]</td>
                                                    <td><a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer nofollow" title="YouTube's privacy policy">YouTube</a></td>
                                                    <td title="Stores the user's video player preferences using embedded YouTube video">Stores the user's video player preferences using embedded YouTube video</td>
                                                    <td title="Session">Session</td>
                                                    <td title="HTML">HTML</td>
                                                </tr>
                                                <tr>
                                                    <td title="yt-remote-connected-devices">yt-remote-connected-devices&nbsp;[x2]</td>
                                                    <td><a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer nofollow" title="YouTube's privacy policy">YouTube</a></td>
                                                    <td title="Stores the user's video player preferences using embedded YouTube video">Stores the user's video player preferences using embedded YouTube video</td>
                                                    <td title="Persistent">Persistent</td>
                                                    <td title="HTML">HTML</td>
                                                </tr>
                                                <tr>
                                                    <td title="yt-remote-device-id">yt-remote-device-id&nbsp;[x2]</td>
                                                    <td><a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer nofollow" title="YouTube's privacy policy">YouTube</a></td>
                                                    <td title="Stores the user's video player preferences using embedded YouTube video">Stores the user's video player preferences using embedded YouTube video</td>
                                                    <td title="Persistent">Persistent</td>
                                                    <td title="HTML">HTML</td>
                                                </tr>
                                                <tr>
                                                    <td title="yt-remote-fast-check-period">yt-remote-fast-check-period&nbsp;[x2]</td>
                                                    <td><a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer nofollow" title="YouTube's privacy policy">YouTube</a></td>
                                                    <td title="Stores the user's video player preferences using embedded YouTube video">Stores the user's video player preferences using embedded YouTube video</td>
                                                    <td title="Session">Session</td>
                                                    <td title="HTML">HTML</td>
                                                </tr>
                                                <tr>
                                                    <td title="yt-remote-session-app">yt-remote-session-app&nbsp;[x2]</td>
                                                    <td><a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer nofollow" title="YouTube's privacy policy">YouTube</a></td>
                                                    <td title="Stores the user's video player preferences using embedded YouTube video">Stores the user's video player preferences using embedded YouTube video</td>
                                                    <td title="Session">Session</td>
                                                    <td title="HTML">HTML</td>
                                                </tr>
                                                <tr>
                                                    <td title="yt-remote-session-name">yt-remote-session-name&nbsp;[x2]</td>
                                                    <td><a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer nofollow" title="YouTube's privacy policy">YouTube</a></td>
                                                    <td title="Stores the user's video player preferences using embedded YouTube video">Stores the user's video player preferences using embedded YouTube video</td>
                                                    <td title="Session">Session</td>
                                                    <td title="HTML">HTML</td>
                                                </tr>
                                                <tr>
                                                    <td title="yt-remote-cast-available">yt-remote-cast-available&nbsp;[x2]</td>
                                                    <td><a href="https://policies.google.com/privacy" target="_blank" rel="noopener noreferrer nofollow" title="YouTube's privacy policy">YouTube</a></td>
                                                    <td title="Pending">Pending</td>
                                                    <td title="Session">Session</td>
                                                    <td title="HTML">HTML</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="CybotCookiebotDialogDetailBodyContentCookieTabsUnclassified">
                                    <div class="CybotCookiebotDialogDetailBodyContentCookieTypeIntro">Unclassified cookies are cookies that we are in the process of classifying, together with the providers of individual cookies.</div>
                                    <div class="CybotCookiebotDialogDetailBodyContentCookieTypeTableContainer">
                                        <table id="CybotCookiebotDialogDetailTableUnclassified" class="CybotCookiebotDialogDetailBodyContentCookieTypeTable">
                                            <tbody>
                                                <tr>
                                                    <td class="CybotCookiebotDialogDetailBodyContentCookieTypeTableEmpty">We do not use cookies of this type.</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="CybotCookiebotDialogDetailBodyContentTextIABv2" lang="en">
                        <div id="CybotCookiebotDialogDetailBodyContentIABContainer">
                            <div id="CybotCookiebotDialogDetailBodyContentIABv2Tabs">
                                <a id="CybotCookiebotDialogDetailBodyContentIABv2Purposes" href="#" class="CybotCookiebotDialogDetailBodyContentIABv2TabSelected" lang="en" aria-label="[#IABV2_LABEL_PURPOSES#]">
                                    <label for="CybotCookiebotDialogDetailBodyContentIABv2Purposes" aria-hidden="true">&thinsp;</label>[#IABV2_LABEL_PURPOSES#]
                                </a>
                                <a id="CybotCookiebotDialogDetailBodyContentIABv2Features" href="#" class="CybotCookiebotDialogDetailBodyContentIABv2Tab" lang="en" aria-label="[#IABV2_LABEL_FEATURES#]">
                                    <label for="CybotCookiebotDialogDetailBodyContentIABv2Features" aria-hidden="true">&thinsp;</label>[#IABV2_LABEL_FEATURES#]
                                </a>
                                <a id="CybotCookiebotDialogDetailBodyContentIABv2Partners" href="#" class="CybotCookiebotDialogDetailBodyContentIABv2Tab" lang="en" aria-label="[#IABV2_LABEL_PARTNERS#]">
                                    <label for="CybotCookiebotDialogDetailBodyContentIABv2Partners" aria-hidden="true">&thinsp;</label>[#IABV2_LABEL_PARTNERS#]
                                </a>
                            </div>
                            <div id="CybotCookiebotDialogDetailBodyContentIABv2Details">
                                <div id="CybotCookiebotDialogDetailBodyContentIABv2TabPurposes"><div class="CybotCookiebotDialogDetailBodyContentIABv2PurposesBody">[#IABV2_BODY_PURPOSES#]</div></div>
                                <div id="CybotCookiebotDialogDetailBodyContentIABv2TabFeatures"><div class="CybotCookiebotDialogDetailBodyContentIABv2FeaturesBody">[#IABV2_BODY_FEATURES#]</div></div>
                                <div id="CybotCookiebotDialogDetailBodyContentIABv2TabPartners"><div class="CybotCookiebotDialogDetailBodyContentIABv2PartnersBody">[#IABV2_BODY_PARTNERS#]</div></div>
                            </div>
                        </div>
                    </div>
                    <div id="CybotCookiebotDialogDetailBodyContentTextAbout" lang="en">
                        Cookies are small text files that can be used by websites to make a user's experience more efficient.<br style="" />
                        <br style="" />
                        The law states that we can store cookies on your device if they are strictly necessary for the operation of this site. For all other types of cookies we need your permission.<br style="" />
                        <br style="" />
                        This site uses different types of cookies. Some cookies are placed by third party services that appear on our pages.<br style="" />
                        <br style="" />
                        You can at any time change or withdraw your consent from the <a href="https://www.cookiebot.com/en/cookie-declaration/" style="">Cookie Declaration</a> on our website.<br style="" />
                        <br style="" />
                        Learn more about who we are, how you can contact us and how we process personal data in our <a href="https://www.cookiebot.com/en/privacy-policy/" style="">Privacy Policy</a>.<br />
                        <br />
                        Your consent applies to the following domains: www.cookiebot.com, www.cybot.com, manage.cookiebot.com, support.cookiebot.com<br />
                        <br />
                    </div>
                </div>
                <div id="CybotCookiebotDialogDetailFooter" lang="en">Cookie declaration last updated on 6/9/21 by <a href="https://www.cookiebot.com" target="_blank" rel="noopener" title="Cookiebot">Cookiebot</a></div>
            </div>
        </div>
    </div>

    <div class="settings_icon_wrapper">
        <span id="iconWrapper"><i class="fas fa-cog" id="settings"></i></span>
    </div>

    <script src="https://localhost:44380/Scripts/jquery-3.4.1.js"></script>
        <script src="https://localhost:44380/Content/js/CookiePopup.js"></script>

        <script src="https://localhost:44380/Content/js/SaveCookieSettings.js"></script>

        <script>

            $(document).ready(function () {
                //document.cookie.split(";").forEach(function (c) {
                //    document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/");
                //});

                SetSavedSettings();

                var currentCookies = get_cookies_array();
                for (var name in currentCookies) {
                    console.log(name + " : " + currentCookies[name] + "<br />");
                }
              /*  console.log(getCookies());*/

            });
            function get_cookies_array() {

                var cookies = {};

                if (document.cookie && document.cookie != '') {
                    var split = document.cookie.split(';');
                    for (var i = 0; i < split.length; i++) {
                        var name_value = split[i].split("=");
                        name_value[0] = name_value[0].replace(/^ /, '');
                        cookies[decodeURIComponent(name_value[0])] = decodeURIComponent(name_value[1]);
                    }
                }

                return cookies;

            }
            function getCookies() {
                var cookies = document.cookie.split(';');
                var ret = '';
                for (var i = 1; i <= cookies.length; i++) {
                    ret += i + ' - ' + cookies[i - 1] + "<br>";
                }
                return ret;
            }
            function SetSavedSettings() {

                var settingsDeserialized = JSON.parse(localStorage.getItem("Settings"));
                if (settingsDeserialized != null) {
                    $("#CybotCookiebotDialogBodyLevelButtonNecessary").prop("checked", settingsDeserialized.Necessary == "checked" ? true : false);
                    $("#CybotCookiebotDialogBodyLevelButtonPreferences").prop("checked", settingsDeserialized.Preference == "checked" ? true : false);
                    $("#CybotCookiebotDialogBodyLevelButtonStatistics").prop("checked", settingsDeserialized.Statistic == "checked" ? true : false);
                    $("#CybotCookiebotDialogBodyLevelButtonMarketing").prop("checked", settingsDeserialized.Marketing == "checked" ? true : false);
                    $("#CybotCookiebotDialog").hide();
                } else {
                    $("#iconWrapper").hide();
                }
            }
        </script>*@

