﻿
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<main>
    <section>
        <div class="hero">
            <div class="container">
                <div class="row align-items-center justify-content-md-center">
                    <div class="col-sm-6 mobile-2 col-md-12 col-lg-6">
                        <div class="hero-text">
                            <h1>Nýtir tín heimasíða kennifílur?</h1>
                            <p class="mid-title">Sambært dátuverndarlógini er krav, at vitjandi á heimasíðum samtykkja nýtslu av kennifílum.</p>
                            <p class="text-bold">Fá kennifílufráboðara til tína heimasíðu</p>
                            <a href="#contact-form" class="btn">Bilgg fráboðara</a>
                        </div>
                    </div>
                    <div class="col-sm-6 mobile-1 col-md-8 col-lg-6">
                        <div class="hero-thumb">
                            <img src="~/Content/Public/images/landing/hero.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="feature-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 mb-5 text-center">
                        <div class="content">
                            <span class="tag">Møguleikar</span>
                            <h2>Fráboðari um nýtslu av kennifílum til tína heimasíðu</h2>
                            <p>Við okkara fráboðara kanst tú lættliga hava heimasíðu tína dagførda samsvarandi dátaverdarlóggávuni um samtykki av kennifílum.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box small">
                            <div class="icons">
                                <i class="ri-checkbox-circle-line"></i>
                            </div>
                            <h2>Samtykki av kennifílum</h2>
                            <p>Ein samtykkari av kennifílum til tína heimasíðu, ið er í tráð við føroysku dátuverndarlógina, GDPR, ePR og CCPA.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-5">
                        <div class="box small">
                            <div class="icons">
                                <i class="ri-map-pin-line"></i>
                            </div>
                            <h2>Kennifíluyvirvaking</h2>
                            <p>Fráboðarin vísir á hvørjar kennifílur heimasíðan nýtir.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="box small">
                            <div class="icons">
                                <i class="ri-equalizer-line"></i>
                            </div>
                            <h2>Kennifílastýring</h2>
                            <p>Vitjandi kunnu velja hvørjar kennifílur heimasíðan goymir, 3. parts kennifílur verða ikki goymdar uttan títt samtykki</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="price-wrapper">
            <div class="container">
                <div class="row align-items-center justify-content-md-center">
                    <div class="col-sm-6 mobile-2 col-md-8 col-lg-6">
                        <div class="img-wrapper" id="appendScript">
                            <script src="https://unpkg.com/@("@")lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                            <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_zjf2c1fb.json" mode="bounce" background="transparent" speed="1" style="width: 500px; height: 500px;" loop autoplay></lottie-player>
                        </div>
                    </div>
                    <div class="col-sm-6 mobile-1 col-md-8 col-lg-6">
                        <div class="box">
                            <span class="tag">Prísir</span>
                            <h2 class="price-title">Kostnaður fyri tænastuna</h2>
                            <div class="price-box pt-5">
                                <p class="plan">Standard</p>
                                <span class="plan-name">Fráboðari við samtykki</span>
                                <ul>
                                    <li>Vit tillaga litirnir á fráboðarinum eftir tykkara samleika</li>
                                    <li>Fráboðarin heintar samtykki frá vitjandi um nýtslu av kennifílum</li>
                                </ul>
                                <span class="plan-name">Kostnaður</span>
                                <h3 class="pricing"><b> 500 kr. </b> árliga</h3>
                                <span class="extra">+ 1250 kr. stovningargjald</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="contact-wrapper">
            <div class="container">
                <div class="row justify-content-center" id="contact-form">
                    <div class="col-sm-6 col-md-8 col-lg-6">
                        <div class="form">
                            <h2>Bílegg tænastu</h2>
                            @*@using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            @Html.HiddenFor(m => m.Id, new { @value="0" })
            <div class="input">
                @Html.LabelFor(m => m.Email)
                  @Html.TextBoxFor(m => m.Email, new {type="text" })
                @Html.ValidationMessageFor(m => m.Email,"", new {@class="text-danger"})
            </div>
            <div class="input">
                @Html.LabelFor(m => m.FullName)
                @Html.TextBoxFor(m => m.FullName, new { type = "text" })
                @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })

            </div>
            <div class="input">
                @Html.LabelFor(m => m.PhoneNumber)
                @Html.TextBoxFor(m => m.PhoneNumber, new { type = "text" })
                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
            </div>
            <div class="input">
                @Html.LabelFor(m => m.Password)
                @Html.TextBoxFor(m => m.Password, new { type = "password" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="input text-right">
                <button class="btn">Bílegg</button>
            </div>
        }*@
                            <form action="">
                                <div class="input">
                                    <input type="text" placeholder="Heimasíða">
                                </div>
                                <div class="input">
                                    <input type="text" placeholder="Fult Navn (*)">
                                </div>
                                <div class="input">
                                    <input type="text" placeholder="Telefonnummar (*)">
                                </div>
                                <div class="input">
                                    <input type="text" placeholder="Teldupostur (*)">
                                </div>
                                <div class="input text-right">
                                    <button class="btn">Bílegg</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section scripts{
    
    
    }
@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@