﻿<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="School CRM">
    <meta name="keywords" content="School, CRM">
    <meta name="author" content="">
    <title>Cookie Bot</title>

    <link rel="apple-touch-icon" href="icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="icon.ico">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600%7CIBM+Plex+Sans:300,400,500,600,700" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->

    <link href="~/Areas/Admin/Contents/app-assets/vendors/css/vendors.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Contents/app-assets/vendors/css/charts/apexcharts.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Contents/app-assets/vendors/css/extensions/swiper.min.css" rel="stylesheet" />
    <!-- END: Vendor CSS-->
    <link href="~/Areas/Admin/Contents/app-assets/vendors/css/tables/datatable/datatables.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Contents/app-assets/vendors/css/pickers/pickadate/pickadate.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Contents/app-assets/vendors/css/pickers/daterange/daterangepicker.css" rel="stylesheet" />
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Contents/app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Contents/app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Contents/app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Contents/app-assets/css/components.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Contents/app-assets/css/themes/dark-layout.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Contents/app-assets/css/themes/semi-dark-layout.css">
    <!-- END: Theme CSS-->
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Contents/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Contents/app-assets/css/pages/dashboard-ecommerce.css">
    <!-- END: Page CSS-->
    <!-- font awesome icon -->
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
    <!-- font awesome icon -->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Contents/assets/css/style.css">
    <link href="~/Areas/Admin/Contents/app-assets/vendors/css/custom.css" rel="stylesheet" />
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->
<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern semi-dark-layout 2-columns  navbar-sticky footer-static  " data-open="click" data-menu="vertical-menu-modern" data-col="2-columns" data-layout="semi-dark-layout">

    <!-- BEGIN: Header-->
    <div class="header-navbar-shadow"></div>
    <nav class="header-navbar main-header-navbar navbar-expand-lg navbar navbar-with-menu fixed-top ">
        <div class="navbar-wrapper">
            <div class="navbar-container content">
                <div class="navbar-collapse" id="navbar-mobile">
                    <div class="mr-auto float-left bookmark-wrapper d-flex align-items-center">
                        <ul class="nav navbar-nav">
                            <li class="nav-item mobile-menu d-xl-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ficon bx bx-menu"></i></a></li>
                        </ul>
                        <ul class="nav navbar-nav bookmark-icons">
                            <li class="nav-item d-none d-lg-block"><a class="nav-link" href="#" data-toggle="tooltip" data-placement="top" title="Email"><i class="ficon bx bx-envelope"></i></a></li>
                            <li class="nav-item d-none d-lg-block"><a class="nav-link" href="#" data-toggle="tooltip" data-placement="top" title="Chat"><i class="ficon bx bx-chat"></i></a></li>
                            <li class="nav-item d-none d-lg-block"><a class="nav-link" href="#" data-toggle="tooltip" data-placement="top" title="Todo"><i class="ficon bx bx-check-circle"></i></a></li>
                            <li class="nav-item d-none d-lg-block"><a class="nav-link" href="#" data-toggle="tooltip" data-placement="top" title="Calendar"><i class="ficon bx bx-calendar-alt"></i></a></li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li class="nav-item d-none d-lg-block">
                                <a class="nav-link bookmark-star"><i class="ficon bx bx-star warning"></i></a>
                                <div class="bookmark-input search-input">
                                    <div class="bookmark-input-icon"><i class="bx bx-search primary"></i></div>
                                    <input class="form-control input" type="text" placeholder="Explore School..." tabindex="0" data-search="template-search">
                                    <ul class="search-list"></ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <ul class="nav navbar-nav float-right">
                   
                        <li class="dropdown dropdown-user nav-item">
                            <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown">
                                <div class="user-nav d-sm-flex d-none"><span class="user-name">@User.Identity.Name</span><span class="user-status text-muted">Available</span></div><span><img class="round" src="~/Areas/Admin/Contents/app-assets/images/portrait/small/avatar-s-11.jpg" alt="avatar" height="40" width="40"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right pb-0">
                                <a class="dropdown-item" href="#"><i class="bx bx-user mr-50"></i> Edit Profile</a><a class="dropdown-item" href="#"><i class="bx bx-envelope mr-50"></i> My Inbox</a><a class="dropdown-item" href="#"><i class="bx bx-check-square mr-50"></i> Task</a><a class="dropdown-item" href="#"><i class="bx bx-message mr-50"></i> Chats</a>
                                <div class="dropdown-divider mb-0"></div><a class="dropdown-item" href="/Admin/Account/Logout/"><i class="bx bx-power-off mr-50"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- END: Header-->
    <!-- BEGIN: Main Menu-->
    <div class="main-menu menu-fixed menu-dark menu-accordion menu-shadow" data-scroll-to-active="true">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item mr-auto">
                    <a class="navbar-brand" href="#">
                        <div class="brand-logo"><img class="logo" src="~/Areas/Admin/Contents/app-assets/images/logo/logo.png" /></div>
                        <h2 class="brand-text mb-0">Cookie Bot</h2>
                    </a>
                </li>
                <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="bx bx-x d-block d-xl-none font-medium-4 primary"></i><i class="toggle-icon bx bx-disc font-medium-4 d-none d-xl-block primary" data-ticon="bx-disc"></i></a></li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <div class="main-menu-content">
            <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation" data-icon-style="lines">
             
                <li class=" nav-item">
                    <a href="#"><i class="fas fa-check-circle"></i><span class="menu-title" data-i18n="Email">Settings</span></a>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="fas fa-check-circle"></i><span class="menu-title" data-i18n="Chat">Cookies</span></a>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="fas fa-check-circle"></i><span class="menu-title" data-i18n="Todo">User Consents</span></a>
                </li>
                <li class=" nav-item">
                    <a href="#"><i class="fas fa-check-circle"></i><span class="menu-title" data-i18n="Calendar">Reports</span></a>
                </li>
              
            </ul>
        </div>
    </div>
    <!-- END: Main Menu-->
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">

            <div class="content-body">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- END: Content-->
    <!-- demo chat-->
    <div class="widget-chat-demo">
        <!-- widget chat demo footer button start -->
        @*<button class="btn btn-primary chat-demo-button glow px-1"><i class="livicon-evo" data-options="name: comments.svg; style: lines; size: 24px; strokeColor: #fff; autoPlay: true; repeat: loop;"></i></button>*@
        <!-- widget chat demo footer button ends -->
        <!-- widget chat demo start -->
        <div class="widget-chat widget-chat-demo d-none">
            <div class="card mb-0">
                <div class="card-header border-bottom p-0">
                    <div class="media m-75">
                        <a href="JavaScript:void(0);">
                            <div class="avatar mr-75">
                                <img src="~/Areas/Admin/Contents/app-assets/images/portrait/small/avatar-s-2.jpg" alt="avtar images" width="32" height="32">
                                <span class="avatar-status-online"></span>
                            </div>
                        </a>
                        <div class="media-body">
                            <h6 class="media-heading mb-0 pt-25"><a href="javaScript:void(0);">Kiara Cruiser</a></h6>
                            <span class="text-muted font-small-3">Active</span>
                        </div>
                        <i class="bx bx-x widget-chat-close float-right my-auto cursor-pointer"></i>
                    </div>
                </div>
                <div class="card-body widget-chat-container widget-chat-demo-scroll">
                    <div class="chat-content">
                        <div class="badge badge-pill badge-light-secondary my-1">today</div>
                        <div class="chat">
                            <div class="chat-body">
                                <div class="chat-message">
                                    <p>How can we help? 😄</p>
                                    <span class="chat-time">7:45 AM</span>
                                </div>
                            </div>
                        </div>
                        <div class="chat chat-left">
                            <div class="chat-body">
                                <div class="chat-message">
                                    <p>Hey John, I am looking for the best admin template.</p>
                                    <p>Could you please help me to find it out? 🤔</p>
                                    <span class="chat-time">7:50 AM</span>
                                </div>
                            </div>
                        </div>
                        <div class="chat">
                            <div class="chat-body">
                                <div class="chat-message">
                                    <p>Stack admin is the responsive bootstrap 4 admin template.</p>
                                    <span class="chat-time">8:01 AM</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer border-top p-1">
                    <form class="d-flex" onsubmit="widgetChatMessageDemo();" action="javascript:void(0);">
                        <input type="text" class="form-control chat-message-demo mr-75" placeholder="Type here...">
                        <button type="submit" class="btn btn-primary glow px-1"><i class="bx bx-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <!-- widget chat demo ends -->

    </div>
    <div class="sidenav-overlay"></div>
    <div class="drag-target"></div>

    <!-- BEGIN: Footer-->
    <footer class="footer footer-static footer-light">
        <p class="clearfix mb-0">
            <span class="float-left d-inline-block">2020 &copy; School</span><span class="float-right d-sm-inline-block d-none">Crafted with<i class="bx bxs-heart pink mx-50 font-small-3"></i>by<a class="text-uppercase" href="https://1.envato.market/School_portfolio" target="_blank">School</a></span>
            <button class="btn btn-primary btn-icon scroll-top" type="button"><i class="bx bx-up-arrow-alt"></i></button>
        </p>
    </footer>
    <!-- END: Footer-->
    <!-- BEGIN: Vendor JS-->
    <script src="~/Areas/Admin/Contents/app-assets/vendors/js/vendors.min.js"></script>
    <script src="~/Areas/Admin/Contents/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.tools.js"></script>
    <script src="~/Areas/Admin/Contents/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.defaults.js"></script>
    <script src="~/Areas/Admin/Contents/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.min.js"></script>

    <!-- BEGIN Vendor JS-->

    <script src="~/Areas/Admin/Contents/app-assets/vendors/js/pickers/pickadate/picker.js"></script>
    <script src="~/Areas/Admin/Contents/app-assets/vendors/js/pickers/pickadate/picker.date.js"></script>
    <script src="~/Areas/Admin/Contents/app-assets/vendors/js/pickers/pickadate/picker.time.js"></script>
    <script src="~/Areas/Admin/Contents/app-assets/vendors/js/pickers/pickadate/legacy.js"></script>
    <script src="~/Areas/Admin/Contents/app-assets/vendors/js/pickers/daterange/moment.min.js"></script>
    <script src="~/Areas/Admin/Contents/app-assets/vendors/js/pickers/daterange/daterangepicker.js"></script>
    <script src="~/Areas/Admin/Contents/app-assets/js/scripts/pickers/dateTime/pick-a-datetime.js"></script>
    <!-- BEGIN: Page Vendor JS-->
    <script src="~/Areas/Admin/Contents/app-assets/vendors/js/charts/apexcharts.min.js"></script>
    <script src="~/Areas/Admin/Contents/app-assets/vendors/js/extensions/swiper.min.js"></script>
    <script src="~/Areas/Admin/Contents/app-assets/vendors/js/tables/datatable/datatables.min.js"></script>
    <script src="~/Areas/Admin/Contents/app-assets/vendors/js/tables/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="~/Areas/Admin/Contents/app-assets/vendors/js/tables/datatable/dataTables.buttons.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="~/Areas/Admin/Contents/app-assets/js/scripts/configs/vertical-menu-dark.js"></script>
    <script src="~/Areas/Admin/Contents/app-assets/js/core/app-menu.js"></script>
    <script src="~/Areas/Admin/Contents/app-assets/js/core/app.js"></script>
    <script src="~/Areas/Admin/Contents/app-assets/js/scripts/components.js"></script>
    <script src="~/Areas/Admin/Contents/app-assets/js/scripts/footer.js"></script>
    <!-- END: Theme JS-->
    <!-- BEGIN: Page JS-->
    <script src="~/Areas/Admin/Contents/app-assets/js/scripts/datatables/datatable.js"></script>
    <script src="~/Areas/Admin/Contents/app-assets/js/scripts/pages/dashboard-ecommerce.js"></script>
    @RenderSection("scripts", required: false)
    <!-- END: Page JS-->

</body>
<!-- END: Body-->

</html>











