/* Project name: Føroya Handverkarafelag */
/* Develope by: appnet.fo */

/* variables */
/* Primary Color */
$primaryColor: #0D9F24

/* Secoundry color */
$secondryColor: #000000

/* Black color */
$bodyColor: #575757
$blackColor: #111013

/* White color */
$whiteColor: #ffffff
$greyColor: #F1F3F6

/* Fonts */
$font: 'Roboto', sans-serif 


*,*,*:after,*:before
    margin: 0
    padding: 0
    position: relative
    box-sizing: border-box


::selection
    background-color: $primaryColor
    color: $whiteColor

html,body
    font-family: $font
    font-weight: 400
    scroll-behavior: smooth
    color: $bodyColor
    min-height: 100vh
    @media (max-width: 768px)
        overflow-x: hidden !important

h1,h2,h3,h4,h5,h6
    font-weight: 700

div,header,nav,footer,section,aside,article
    display: block

a
    color: $primaryColor
    text-decoration: none
    transition: all 0.05s ease-in !important
    &:hover
        text-decoration: none
        color: $secondryColor

p
    font-size: 16px
    @media (max-width: 576px)
        font-size: 14px

ul
    margin: 0
    padding: 0
    li
        list-style-type: none

img
    width: 100%

/* Main css */
.cookie-box
    position: fixed
    bottom: 0
    left: 0
    width: 100%
    z-index: 1099
    @media (max-width: 768px) and (min-width: 576px)
        .container
            max-width: 100%
        .col-sm-11
            padding: 0        
    @media (max-width: 576px)
        text-align: center
        .col-sm-11
            padding: 0
        .cookie-action
            flex-wrap: wrap
        .credit
            max-width: 100%
            text-align: center
            flex: 0 0 100%
            margin-top: 10px
        .btn-groups
            flex-wrap: wrap
            justify-content: center !important
            .btn
                max-width: calc( 50% - 2px )
                flex: 0 0 calc( 50% - 2px )
                margin: 5px 1px
        .cookie-accept
            flex-wrap: wrap
            .checkbox
                text-align: left !important
                justify-content: start !important
                margin-right: 0 !important
                margin-bottom: 10px
                &:nth-child(1),&:nth-child(3)
                    max-width: 40%
                    flex: 0 0 40%
                &:nth-child(2),&:nth-child(4)
                    max-width: 60%
                    flex: 0 0 60%
    .btn-groups
        display: flex
    .cookie-action
        border-top: 1px solid #D2D2D2
        margin-left: -20px
        margin-right: -20px
        padding: 20px
        padding-bottom: 0
        width: calc( 100% + 40px )
    .cookie-accept
        display: flex
        align-items: center
        margin-bottom: 10px
        .no-drop
            cursor: no-drop !important
            pointer-events: none
            label
                color: #0D9F24
        label
            margin-bottom: 0
            margin-left: 5px
            font-size: 14px
        input
            position: absolute
            width: 100%
            z-index: 2
            height: 100%
            top: 0
            left: 0
            opacity: 0
            cursor: pointer
        .checkbox:not(input.checkbox)
            cursor: pointer
            display: flex
            align-items: center
            justify-content: space-between
            margin-right: 20px
        .custome-checkbox
            width: 35px
            height: 20px
            background-color: #DDDDDD
            border-radius: 24px
            display: inline-block
            cursor: pointer
            position: relative
            &::before
                position: absolute
                width: 16px
                height: 16px
                background-color: #979797
                content: ''
                left: 2px
                top: 2px
                border-radius: 24px
                z-index: 2
                transition: all 0.2s ease-in
        .custome-checkbox.locked
            display: grid
            place-content: center
            background-color: #62CF74
            cursor: no-drop !important
            &::before
                display: none
        .checkbox.checkbox-active
            label
                color: #0D9F24
            .custome-checkbox
                &::before
                    left: auto !important
                    right: 2px
                    background-color: #0D9F24
                    transition: all 0.2s ease-in
    .btn
        min-width: 140px
        border: 1px solid #0D9F24
        border-radius: 24px
        margin: 0 10px
        &:focus
            box-shadow: none !important
    .btn-bordered
        color: #0D9F24
        &:hover
            background-color: #0D9F24
            color: $whiteColor
    .btn-filled
        background-color: #0D9F24
        color: $whiteColor
        &:hover
            background-color: transparent
            color: #0D9F24
    .cookie
        background-color: $whiteColor
        box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15)
        padding: 20px
        h1,h2,h3,h4,h5,h6
            font-size: 18px
            font-weight: bold
            color: $blackColor
        p
            font-size: 14px
            color: #6A6A6A
        .cookie-action
            display: flex
            justify-content: space-between
            align-items: center
            img
                max-width: 80px
                width: 100%
    .cookie-details
        background-color: $greyColor
        margin-top: 20px
        width: calc( 100% + 40px  )
        margin-left: -20px
        margin-right: -20px
        margin-bottom: -20px
        .nav-pills
            text-align: center
        .display-flex.active
            display: flex
        .tab-content
            p
                font-size: 14px
                margin-bottom: 2px
        .nav-link
            border: 0 
            border-radius: 24px !important
            font-size: 14px
        .nav-link.active
            background-color: #0D9F24
            color: $whiteColor
        .nav-tabs
            padding: 10px


.cookie-box-small
    position: fixed
    bottom: 50px
    left: 50px
    width: 100%
    z-index: 1099
    max-width: 470px
    @media (max-width: 768px) and (min-width: 576px)
        .container
            max-width: 100%
        .col-sm-11
            padding: 0        
    @media (max-width: 576px)
        left: 0 
        bottom: 0
        text-align: center
        .col-sm-11
            padding: 0
        .cookie-action
            flex-wrap: wrap
        .credit
            max-width: 100%
            text-align: center
            flex: 0 0 100%
            margin-top: 10px
        .btn-groups
            flex-wrap: wrap
            justify-content: center !important
            .btn
                max-width: calc( 50% - 2px )
                flex: 0 0 calc( 50% - 2px )
                margin: 5px 1px
        .cookie-accept
            flex-wrap: wrap
            .checkbox
                text-align: left !important
                justify-content: start !important
                margin-right: 0 !important
                margin-bottom: 10px
                &:nth-child(1),&:nth-child(3)
                    max-width: 40% !important
                    flex: 0 0 40% !important
                &:nth-child(2),&:nth-child(4)
                    max-width: 60% !important
                    flex: 0 0 60% !important
    .credit
        text-align: center
        margin-top: 10px
    .btn-groups
        display: flex
    .cookie-action
        border-top: 1px solid #D2D2D2
        margin-left: -20px
        margin-right: -20px
        padding: 15px
        padding-bottom: 0
        width: calc( 100% + 40px )
    .cookie-accept
        display: flex
        align-items: center
        margin-bottom: 10px
        flex-wrap: wrap
        .no-drop
            cursor: no-drop !important
            pointer-events: none
            label
                color: #0D9F24
        label
            margin-bottom: 0
            margin-left: 5px
            font-size: 14px
        input
            position: absolute
            width: 100%
            z-index: 2
            height: 100%
            top: 0
            left: 0
            opacity: 0
            cursor: pointer
        .checkbox:not(input.checkbox)
            cursor: pointer
            display: flex
            align-items: center
            max-width: 50%
            flex: 0 0 50%
            margin-bottom: 10px
        .custome-checkbox
            width: 35px
            height: 20px
            background-color: #DDDDDD
            border-radius: 24px
            display: inline-block
            cursor: pointer
            position: relative
            &::before
                position: absolute
                width: 16px
                height: 16px
                background-color: #979797
                content: ''
                left: 2px
                top: 2px
                border-radius: 24px
                z-index: 2
                transition: all 0.2s ease-in
        .custome-checkbox.locked
            display: grid
            place-content: center
            background-color: #62CF74
            cursor: no-drop !important
            &::before
                display: none
        .checkbox.checkbox-active
            label
                color: #0D9F24
            .custome-checkbox
                &::before
                    left: auto !important
                    right: 2px
                    background-color: #0D9F24
                    transition: all 0.2s ease-in
    .btn
        min-width: 130px
        border: 1px solid #0D9F24
        border-radius: 24px
        margin: 0 3px
        &:focus
            box-shadow: none !important
    .btn-bordered
        color: #0D9F24
        &:hover
            background-color: #0D9F24
            color: $whiteColor
    .btn-filled
        background-color: #0D9F24
        color: $whiteColor
        &:hover
            background-color: transparent
            color: #0D9F24
    .cookie
        background-color: $whiteColor
        box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15)
        padding: 20px
        border-radius: 8px
        .cookie-icon
            svg
                max-width: 60px
        h1,h2,h3,h4,h5,h6
            font-size: 18px
            font-weight: bold
            color: $blackColor
        p
            font-size: 14px
            color: #6A6A6A
        .cookie-action
            display: flex
            justify-content: center
            align-items: center
            flex-wrap: wrap
            img
                max-width: 80px
                width: 100%
    .cookie-details
        background-color: $greyColor
        margin-top: 20px
        width: calc( 100% + 40px  )
        margin-left: -20px
        margin-right: -20px
        margin-bottom: -20px
        .nav-pills
            text-align: center
        .display-flex.active
            display: flex
        .tab-content
            p
                font-size: 14px
                margin-bottom: 2px
        .nav-link
            border: 0 
            border-radius: 24px !important
            font-size: 14px
        .nav-link.active
            background-color: #0D9F24
            color: $whiteColor
        .nav-tabs
            padding: 10px