﻿@model CookieBot.Models.Users
@{
    ViewBag.Title = "Register";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}

<!-- login page start -->
<section id="auth-login" class="row flexbox-container">
    <div class="col-xl-5 col-11">
        <div class="card bg-authentication mb-0">
            <div class="row m-0">
                <!-- left section-login -->
                <div class="col-md-12 col-12 px-0">
                    <div class="card disable-rounded-right mb-0 p-2 h-100 d-flex justify-content-center">
                        <div class="card-header pb-1">
                            <div class="card-title">
                                <h4 class="text-center mb-2">Welcome Back</h4>
                            </div>
                        </div>
                        <div class="card-content">
                            <div class="card-body">

                                <div class="divider">
                                    <div class="divider-text text-uppercase text-muted">
                                        <small>
                                            Login & Explore the Experience
                                        </small>
                                    </div>
                                </div>

                                @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {

                                    @Html.AntiForgeryToken()
                            <div>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group mb-50">
                                    @Html.LabelFor(m => m.Email, new { @class = "text-bold-600" })
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group mb-50">
                                    @Html.LabelFor(m => m.FullName, new { @class = "text-bold-600" })
                                    @Html.TextBoxFor(m => m.FullName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group mb-50">
                                    @Html.LabelFor(m => m.PhoneNumber, new { @class = "text-bold-600" })
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "text-bold-600" })
                                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control" , type="password"})
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                                <div class="text-right"><a href="/Admin/Account/Login" class="card-link"><small>All ready registered?</small></a></div>
                                <hr />

                                <button type="submit" class="btn btn-primary glow w-100 position-relative">Sign Up<i id="icon-arrow" class="bx bx-right-arrow-alt"></i></button>
                            </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
                <!-- right section image -->

            </div>
        </div>
    </div>
</section>
<!-- login page ends -->
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}