﻿<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="School CRM">
    <meta name="keywords" content="School,CRM">
    <meta name="author" content="School CRM">
    <title>Login Page - School CRM</title>
    <link rel="apple-touch-icon" href="~/Areas/Admin/Contents/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/Areas/Admin/Contents/app-assets/images/ico/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,600%7CIBM+Plex+Sans:300,400,500,600,700" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Contents/app-assets/vendors/css/vendors.min.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Contents/app-assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Contents/app-assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Contents/app-assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Contents/app-assets/css/components.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Contents/app-assets/css/themes/dark-layout.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Contents/app-assets/css/themes/semi-dark-layout.css">
    <!-- END: Theme CSS-->
    <!--SweetAlert2-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="~/Areas/Admin/Contents/ArchitectUI/js/scripts-init/sweet-alerts.js"></script>
    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Contents/app-assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Contents/app-assets/css/pages/authentication.css">
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/Contents/assets/css/style.css">
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->
<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern semi-dark-layout 1-column  navbar-sticky footer-static bg-full-screen-image  blank-page blank-page" data-open="click" data-menu="vertical-menu-modern" data-col="1-column" data-layout="semi-dark-layout">
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                @RenderBody()
            </div>
        </div>
    </div>
    <!-- END: Content-->
    <!-- BEGIN: Vendor JS-->
    <script src="~/Areas/Admin/Contents/app-assets/vendors/js/vendors.min.js"></script>
    <script src="~/Areas/Admin/Contents/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.tools.js"></script>
    <script src="~/Areas/Admin/Contents/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.defaults.js"></script>
    <script src="~/Areas/Admin/Contents/app-assets/fonts/LivIconsEvo/js/LivIconsEvo.min.js"></script>
    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Page Vendor JS-->
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="~/Areas/Admin/Contents/app-assets/js/scripts/configs/vertical-menu-dark.js"></script>
    <script src="~/Areas/Admin/Contents/app-assets/js/core/app-menu.js"></script>
    <script src="~/Areas/Admin/Contents/app-assets/js/core/app.js"></script>
    <script src="~/Areas/Admin/Contents/app-assets/js/scripts/components.js"></script>
    <script src="~/Areas/Admin/Contents/app-assets/js/scripts/footer.js"></script>

    <script>
        $(document).ready(function () {
              var successMsg = '@TempData["SuccessMessage"]';
            var errorMsg = '@TempData["ErrorMessage"]';

            if (successMsg != null && successMsg != "" && typeof (successMsg) != "undefined")
            {
                Swal.fire({
                    icon: 'success',
                    title: successMsg,
                    //text: successMsg,
                    timer: 5000
                });
            }
            else if (errorMsg != null && errorMsg != "" && typeof (errorMsg) != "undefined")
            {
                Swal.fire({
                    icon: 'error',
                    title: errorMsg,
                    //text: errorMsg,
                    timer: 5000
                });
            }
        });
    </script>
    <!-- END: Theme JS-->
    <!-- BEGIN: Page JS-->
    @RenderSection("scripts", required: false)
    <!-- END: Page JS-->
</body>
<!-- END: Body-->

</html>

