﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookiebot.fo</title>

    <!-- Favicons -->

    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/Public/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/Public/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Public/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/Content/Public/images/favicon/site.webmanifest">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css">

    <!-- Main CSS -->


    <link href="~/Content/Public/css/style.css" rel="stylesheet" />


</head>
<body>

    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="navbar-brand" href="index.html">
                    <img src="~/Content/Public/images/logo/logo.svg" alt="">
                </a>

                <a href="/Admin/Manage/Index/" class="btn ml-auto">Try for free</a>
            </nav>
        </div>
    </header>
    @RenderBody()


    <footer>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-4 logo col-md-12 col-lg-4 text-md-center">
                    <a href="">
                        <img src="~/Content/Public/images/logo/logo.svg" alt="">
                    </a>
                </div>
                <div class="col-sm-8 contact col-md-12 col-lg-8">
                    <div class="row">
                        <div class="col-sm-4 col-md-6 col-lg-4 text-md-center">
                            <a href="">
                                <i class="ri-mail-unread-line"></i>
                                <span>appnet@appnet.fo</span>
                            </a>
                        </div>
                        <div class="col-sm-4 col-md-6 col-lg-4 text-md-center">
                            <a href="">
                                <i class="ri-phone-line"></i>
                                <span>+298 89 80 48\57 48 48</span>
                            </a>
                        </div>
                        <div class="col-sm-4 col-md-12 col-lg-4 text-md-center">
                            <a href="">
                                <i class="ri-map-pin-line"></i>
                                <span>Gjørðabrekka 4 · 950 Porkeri</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="credit">
            <a href="">
                <img src="~/Content/Public/images/logo/appnet.png" alt="">
            </a>
        </div>
    </footer>

    @RenderSection("scripts", required: false)

</body>
</html>