﻿@model CookieBot.ViewModels.VmManage
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminPanelNew.cshtml";
}


<div class="card">
    <div class="card-body">
        @*@using (Html.BeginForm("Create", "Manage", FormMethod.Post, new {id="ManageForm" }))*@
        @using (Ajax.BeginForm("Create", "Manage", new AjaxOptions { HttpMethod = "POST", OnSuccess = "PreviewPopup()" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            if (Model.Content.Id > 0 && Model.Domain.Id > 0 && Model.Dialog.Id > 0 && Model.Script.Id > 0)
            {
                @Html.HiddenFor(m => m.Content.Id);
                @Html.HiddenFor(m => m.Dialog.Id);
                @Html.HiddenFor(m => m.Domain.Id);
                @Html.HiddenFor(m => m.Script.Id);
            }
            else
            {
                @*@Html.HiddenFor(m => m.Content.Id, new { @value = "0" })
                    @Html.HiddenFor(m => m.Dialog.Id, new { @value = "0" })
                    @Html.HiddenFor(m => m.Domain.Id, new { @value = "0" })
                    @Html.HiddenFor(m => m.Script.Id, new { @value = "0" })*@
                <input type="hidden" name="Content_Id" value="0" />
                <input type="hidden" name="Dialog_Id" value="0" />
                <input type="hidden" name="Domain_Id" value="0" />
                <input type="hidden" name="Script_Id" value="0" />
            }


            <div class="row">
                <div class="col-sm-12">
                    <div class="header-text-wrapper text-center">
                        <p class="header-text text-center">Here you can configure and preview your own cookie declaration and consent dialog. Click the checkmark icon to save and activate your settings. Click the 'undo' icon to revert to the latest saved version. Click the 'preview' icons to see how the declaration and dialog looks in your own configuration.</p> <br />
                        <button class="btn btn-info mb-4" type="submit" id="preview">Preview</button>
                        @*<button class="btn btn-primary mb-4" type="submit">Save</button>*@
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <!-- Nav tabs -->

                    <div class="card">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" id="domainTab" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">@*<i class="fa fa-home"></i>*@  <span>Domains</span></a></li>
                            <li role="presentation" id="dialogTab"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">@*<i class="fa fa-user"></i>*@  <span>Dialog</span></a></li>
                            <li role="presentation" id="declarTab"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">@*<i class="fa fa-envelope-o"></i>*@  <span>Declaration</span></a></li>
                            <li role="presentation" id="contentTab"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">@*<i class="fa fa-cog"></i>*@  <span>Content</span></a></li>
                            <li role="presentation" id="scriptTag"><a href="#extra" aria-controls="settings" role="tab" data-toggle="tab">@*<i class="fa fa-plus-square-o"></i>*@  <span>Your Scripts</span></a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="home">
                                <p class="domain-tab-desc">
                                    Add the domain names of the websites where you want to enable cookie consent. We will scan each domain for cookies.

                                </p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Domain Name</label>
                                            @Html.TextBoxFor(m => m.Domain.DomainName, new { @class = "form-control", type = "text" })
                                            @*<input class="form-control" type="text" />*@
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Scan Frequency</label>
                                            @Html.EnumDropDownListFor(m => m.Domain.SchemeType, new { @class = "form-control", type = "text" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="profile">

                                <div class="row">
                                    <div class="col-sm-8">
                                        <p class="dialoge-tab-desc">
                                            Select your preferred settings for the dialog shown to your website visitors. Select a color theme that creates a contrast to your website background color.

                                        </p>
                                    </div>
                                    <div class="col-sm-4 text-center">
                                        <img src="~/Areas/Admin/Contents/app-assets/images/slidedown_white_leveloptin.png" class="content-img" />
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Template Design</label>
                                            @Html.EnumDropDownListFor(m => m.Dialog.TemplateType, new { @class = "form-control", type = "text" })
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Method</label>
                                            @Html.EnumDropDownListFor(m => m.Dialog.MethodType, new { @class = "form-control", type = "text" })
                                        </div>
                                    </div>

                                    <div class="impliedConsentSection mt-2 mb-2" id="impliedConsentSection">


                                    </div>


                                    <hr />
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Position</label>
                                            @Html.EnumDropDownListFor(m => m.Dialog.PositionType, new { @class = "form-control", type = "text" })
                                        </div>
                                    </div>
                                    <div class="col-sm-6">

                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>type</label>
                                            @Html.EnumDropDownListFor(m => m.Dialog.ButtonType, new { @class = "form-control", type = "text" })

                                        </div>
                                    </div>
                                    <div class="col-sm-6" id="buttonSection">
                                        <div class="form-group">
                                            <label>Buttons</label>
                                            @Html.EnumDropDownListFor(m => m.Dialog.Button, new { @class = "form-control", type = "text" })
                                        </div>
                                    </div>

                                    <div class="col-sm-6" id="defaultCheckBoxSection">
                                        <span>Checkbox Default Mode</span>
                                        <div class="form-check">

                                            @Html.CheckBoxFor(m => m.Dialog.Preference, new { @class = "form-check-input", })
                                            <label class="form-check-label mr-4" for="flexCheckChecked">
                                                Preference
                                            </label>


                                            @Html.CheckBoxFor(m => m.Dialog.Statistics, new { @class = "form-check-input", })
                                            <label class="form-check-label mr-4" for="flexCheckChecked">
                                                Statistics
                                            </label>


                                            @Html.CheckBoxFor(m => m.Dialog.Marketing, new { @class = "form-check-input", })
                                            <label class="form-check-label" for="flexCheckChecked">
                                                Marketing
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">

                                    </div>
                                    <div class="row" id="displayBannerSection">

                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="messages">
                                <p class="dialoge-tab-desc">
                                    The cookie declaration is a list of all cookies and other trackers on your website. You can define how the declaration is presented on your website.

                                </p>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="settings">
                                <p class="dialoge-tab-desc">
                                    Enter the text that will be presented to your website users. The same text is used in both the cookie declaration and the consent dialog. Change the default text to your own wording/language. In the body text you must describe the general purpose(s) of your cookie usage. Keep the text short, precise and appealing.
                                </p>
                                <br />
                                <p class="dialoge-tab-desc">
                                    If you use implied consent with the consent dialog, you must mention that a continued usage of your website (without answering the consent dialog) is the same as consenting.
                                </p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Dialog Heading</label>
                                            @Html.TextBoxFor(m => m.Content.DialogHeading, new { @class = "form-control", type = "text", @value = "Test Value" })
                                            @*<input class="form-control" type="text" />*@
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Language</label>
                                            @Html.TextBoxFor(m => m.Content.Language, new { @class = "form-control", type = "text" })

                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Dialog body text</label>
                                            @Html.TextAreaFor(m => m.Content.DialogBody, new { @class = "form-control", type = "text", rows = "4", columns = "10" })

                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Decline button text</label>
                                            @Html.TextBoxFor(m => m.Content.TextInDeclineButton, new { @class = "form-control", type = "text" })
                                            @*<input class="form-control" type="text" />*@
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Text in [OK] button</label>
                                            @Html.TextBoxFor(m => m.Content.TextInOkButton, new { @class = "form-control", type = "text" })

                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Text in [Allow all] button</label>
                                            @Html.TextBoxFor(m => m.Content.TextInAllowAllButton, new { @class = "form-control", type = "text" })
                                            @*<input class="form-control" type="text" />*@
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Text in [Allow selection] button</label>
                                            @Html.TextBoxFor(m => m.Content.TextInAllowSectionButton, new { @class = "form-control", type = "text" })

                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Text in [Show details] button</label>
                                            @Html.TextBoxFor(m => m.Content.TextInShowSectionButton, new { @class = "form-control", type = "text" })
                                            @*<input class="form-control" type="text" />*@
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Text in [Hide details] button</label>
                                            @Html.TextBoxFor(m => m.Content.TextInHideDetailsButton, new { @class = "form-control", type = "text" })

                                        </div>
                                    </div>
                                    <hr class="custom-hr" />
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>General cookie introduction</label>
                                            @Html.TextAreaFor(m => m.Content.GeneralCookieIntroduction, new { @class = "form-control", type = "text", rows = "4", columns = "30" })

                                        </div>
                                    </div>
                                    <hr class="custom-hr" />
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Necessary cookies category title</label>
                                            @Html.TextBoxFor(m => m.Content.NecessaryCategoryTitle, new { @class = "form-control", type = "text" })

                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Necessary cookies introduction</label>
                                            @Html.TextAreaFor(m => m.Content.NecessaryCookieIntroduction, new { @class = "form-control", type = "text" })

                                        </div>
                                    </div>
                                    <hr class="custom-hr" />
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Preference  cookies category title</label>
                                            @Html.TextBoxFor(m => m.Content.PreferenceCategoryTitle, new { @class = "form-control", type = "text" })

                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Preference  cookies introduction</label>
                                            @Html.TextAreaFor(m => m.Content.PreferenceCookieIntroduction, new { @class = "form-control", type = "text" })

                                        </div>
                                    </div>
                                    <hr class="custom-hr" />
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Statistics   cookies category title</label>
                                            @Html.TextBoxFor(m => m.Content.StatisticCategoryTitle, new { @class = "form-control", type = "text" })

                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Statistics   cookies introduction</label>
                                            @Html.TextAreaFor(m => m.Content.StatisticCookieIntroduction, new { @class = "form-control", type = "text" })

                                        </div>
                                    </div>
                                    <hr class="custom-hr" />
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Marketing    cookies category title</label>
                                            @Html.TextBoxFor(m => m.Content.MarketingCategoryTitle, new { @class = "form-control", type = "text" })

                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Marketing    cookies introduction</label>
                                            @Html.TextAreaFor(m => m.Content.MarketingCookieIntroduction, new { @class = "form-control", type = "text" })

                                        </div>
                                    </div>
                                    <hr />
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Unclassified  cookies category title</label>
                                            @Html.TextBoxFor(m => m.Content.UnclassifiedCategoryTitle, new { @class = "form-control", type = "text" })

                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Unclassified cookies introduction</label>
                                            @Html.TextAreaFor(m => m.Content.UnclassifiedCookieIntroduction, new { @class = "form-control", type = "text" })

                                        </div>
                                    </div>
                                    <hr class="custom-hr" />

                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="extra">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Copy this script and insert it as the very first script within the HEAD-tag of your website to enable the consent banner.</label>
                                            @Html.TextAreaFor(m => m.Script.ScriptString, new { @class = "form-control", type = "text" })
                                            @*<input class="form-control" type="text" />*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts{

    <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Areas/Admin/Contents/assets/js/manage.js"></script>
    <script src="~/Areas/Admin/Contents/assets/js/PreviewPopup.js"></script>
    <script>

$(document).ready(function () {

    CheckMethodType();
    CheckButtonType();

});



function CheckMethodType() {
    debugger;
    var impiledSection = '<div class="col-sm-12">\
                                            <span>With Implied Consent the website visitor automatically submits a cookie consent by clicking a link on your website. Please choose which other user interactions should constitute an Implied Consent.</span> <div class="form-check">@Html.CheckBoxFor(m => m.Dialog.PageScroll, new { @class = "form-check-input", })<label class="form-check-label mr-4" for="flexCheckChecked">Page Scroll</label>@Html.CheckBoxFor(m => m.Dialog.PageRefresh, new { @class = "form-check-input", })<label class="form-check-label mr-4" for="flexCheckChecked">Page Refresh</label></div></div>';

    if ($("#Dialog_MethodType").children("option:selected").val() == 0) {
        $("#impliedConsentSection").append(impiledSection);
    }
    else if ($("#Dialog_MethodType").children("option:selected").val() == 1) {
        $("#impliedConsentSection").html("");
    }


}
var bannerSection = '<div class="col-sm-12"><div class="form-check ml-2">@Html.CheckBoxFor(m => m.Dialog.DisplayBanner, new { @class = "form-check-input", })<label class="form-check-label " for="flexCheckChecked">Display Banner</label></div></div>';

function CheckButtonType() {

    if ($("#Dialog_ButtonType").children("option:selected").val() == 5) {
        $("#displayBannerSection").html(bannerSection);
        $("#buttonSection").hide();
        $("#defaultCheckBoxSection").hide();
    }
    else {
        $("#displayBannerSection").html("");
    }

}

$("#Dialog_MethodType").change(function () {
    CheckMethodType();

});

function CheckMethodForButtonType(elem) {
    debugger;
    if ($(elem).children("option:selected").val() == 0) {
        if ($("#Dialog_MethodType").children("option:selected").val() != 0) {
            alert("The type Decline Only can only be used with the consent method Implied Consent. Please change type or method");
        }
        $("#buttonSection").hide();
        $("#defaultCheckBoxSection").hide();
    }
    else if ($(elem).children("option:selected").val() == 1 || $(elem).children("option:selected").val() == 2) {
        $("#buttonSection").hide();
        $("#defaultCheckBoxSection").hide();
        $("#displayBannerSection").hide();
    }
    else if ($(elem).children("option:selected").val() == 3) {
        $("#buttonSection").show();
        $("#defaultCheckBoxSection").show();

    }
    else if ($(elem).children("option:selected").val() == 4) {
        $("#buttonSection").hide();
        $("#defaultCheckBoxSection").show();

    }
    else if ($(elem).children("option:selected").val() == 5) {
        $("#buttonSection").hide();
        $("#defaultCheckBoxSection").hide();
        if ($("#displayBannerSection").html != null) {
            $("#displayBannerSection").show();
            $("#displayBannerSection").html(bannerSection);
        } else {
            $("#displayBannerSection").html(bannerSection);
        }

    }

}

$("#Dialog_ButtonType").change(function () {
    debugger;
    CheckMethodForButtonType(this);


});

    </script>


 


} 