﻿@charset "UTF-8";
/* Project name: Føroya Handverkarafelag */
/* Develope by: appnet.fo */
/* variables */
/* Primary Color */
/* Secoundry color */
/* Black color */
/* White color */
/* Fonts */
*, *, *:after, *:before {
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::-moz-selection {
    background-color: #0D9F24;
    color: #ffffff;
}

::selection {
    background-color: #0D9F24;
    color: #ffffff;
}

html, body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
    color: #575757;
    min-height: 100vh;
}

@media (max-width: 768px) {
    html, body {
        overflow-x: hidden !important;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

div, header, nav, footer, section, aside, article {
    display: block;
}

a {
    color: #0D9F24;
    text-decoration: none;
    -webkit-transition: all 0.05s ease-in !important;
    transition: all 0.05s ease-in !important;
}

    a:hover {
        text-decoration: none;
        color: #000000;
    }

p {
    font-size: 16px;
}

@media (max-width: 576px) {
    p {
        font-size: 14px;
    }
}

ul {
    margin: 0;
    padding: 0;
}

    ul li {
        list-style-type: none;
    }

img {
    width: 100%;
}

/* Main css */
.cookie-box {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1099;
}

@media (max-width: 768px) and (min-width: 576px) {
    .cookie-box .container {
        max-width: 100%;
    }

    .cookie-box .col-sm-11 {
        padding: 0;
    }
}

@media (max-width: 576px) {
    .cookie-box {
        text-align: center;
    }

        .cookie-box .col-sm-11 {
            padding: 0;
        }

        .cookie-box .cookie-action {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .cookie-box .credit {
            max-width: 100%;
            text-align: center;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            margin-top: 10px;
        }

        .cookie-box .btn-groups {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: center !important;
            -ms-flex-pack: center !important;
            justify-content: center !important;
        }

            .cookie-box .btn-groups .btn {
                max-width: calc( 50% - 2px);
                -webkit-box-flex: 0;
                -ms-flex: 0 0 calc( 50% - 2px);
                flex: 0 0 calc( 50% - 2px);
                margin: 5px 1px;
            }

        .cookie-box .cookie-accept {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

            .cookie-box .cookie-accept .checkbox {
                text-align: left !important;
                -webkit-box-pack: start !important;
                -ms-flex-pack: start !important;
                justify-content: start !important;
                margin-right: 0 !important;
                margin-bottom: 10px;
            }

                .cookie-box .cookie-accept .checkbox:nth-child(1), .cookie-box .cookie-accept .checkbox:nth-child(3) {
                    max-width: 40%;
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 40%;
                    flex: 0 0 40%;
                }

                .cookie-box .cookie-accept .checkbox:nth-child(2), .cookie-box .cookie-accept .checkbox:nth-child(4) {
                    max-width: 60%;
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 60%;
                    flex: 0 0 60%;
                }
}

.cookie-box .btn-groups {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.cookie-box .cookie-action {
    border-top: 1px solid #D2D2D2;
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
    padding-bottom: 0;
    width: calc( 100% + 40px);
}

.cookie-box .cookie-accept {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
}

    .cookie-box .cookie-accept .no-drop {
        cursor: no-drop !important;
        pointer-events: none;
    }

        .cookie-box .cookie-accept .no-drop label {
            color: #0D9F24;
        }

    .cookie-box .cookie-accept label {
        margin-bottom: 0;
        margin-left: 5px;
        font-size: 14px;
    }

    .cookie-box .cookie-accept input {
        position: absolute;
        width: 100%;
        z-index: 2;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
    }

    .cookie-box .cookie-accept .checkbox:not(input.checkbox) {
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-right: 20px;
    }

    .cookie-box .cookie-accept .custome-checkbox {
        width: 35px;
        height: 20px;
        background-color: #DDDDDD;
        border-radius: 24px;
        display: inline-block;
        cursor: pointer;
        position: relative;
    }

        .cookie-box .cookie-accept .custome-checkbox::before {
            position: absolute;
            width: 16px;
            height: 16px;
            background-color: #979797;
            content: '';
            left: 2px;
            top: 2px;
            border-radius: 24px;
            z-index: 2;
            -webkit-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
        }

        .cookie-box .cookie-accept .custome-checkbox.locked {
            display: -ms-grid;
            display: grid;
            place-content: center;
            background-color: #62CF74;
            cursor: no-drop !important;
        }

            .cookie-box .cookie-accept .custome-checkbox.locked::before {
                display: none;
            }

    .cookie-box .cookie-accept .checkbox.checkbox-active label {
        color: #0D9F24;
    }

    .cookie-box .cookie-accept .checkbox.checkbox-active .custome-checkbox::before {
        left: auto !important;
        right: 2px;
        background-color: #0D9F24;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

.cookie-box .btn {
    min-width: 140px;
    border: 1px solid #0D9F24;
    border-radius: 24px;
    margin: 0 10px;
}

    .cookie-box .btn:focus {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

.cookie-box .btn-bordered {
    color: #0D9F24;
}

    .cookie-box .btn-bordered:hover {
        background-color: #0D9F24;
        color: #ffffff;
    }

.cookie-box .btn-filled {
    background-color: #0D9F24;
    color: #ffffff;
}

    .cookie-box .btn-filled:hover {
        background-color: transparent;
        color: #0D9F24;
    }

.cookie-box .cookie {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
    padding: 20px;
}

    .cookie-box .cookie h1, .cookie-box .cookie h2, .cookie-box .cookie h3, .cookie-box .cookie h4, .cookie-box .cookie h5, .cookie-box .cookie h6 {
        font-size: 18px;
        font-weight: bold;
        color: #111013;
    }

    .cookie-box .cookie p {
        font-size: 14px;
        color: #6A6A6A;
    }

    .cookie-box .cookie .cookie-action {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

        .cookie-box .cookie .cookie-action img {
            max-width: 80px;
            width: 100%;
        }

.cookie-box .cookie-details {
    background-color: #F1F3F6;
    margin-top: 20px;
    width: calc( 100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
}

    .cookie-box .cookie-details .nav-pills {
        text-align: center;
    }

    .cookie-box .cookie-details .display-flex.active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .cookie-box .cookie-details .tab-content p {
        font-size: 14px;
        margin-bottom: 2px;
    }

    .cookie-box .cookie-details .nav-link {
        border: 0;
        border-radius: 24px !important;
        font-size: 14px;
    }

        .cookie-box .cookie-details .nav-link.active {
            background-color: #0D9F24;
            color: #ffffff;
        }

    .cookie-box .cookie-details .nav-tabs {
        padding: 10px;
    }

.cookie-box-small {
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 100%;
    z-index: 1099;
    max-width: 470px;
}

@media (max-width: 768px) and (min-width: 576px) {
    .cookie-box-small .container {
        max-width: 100%;
    }

    .cookie-box-small .col-sm-11 {
        padding: 0;
    }
}

@media (max-width: 576px) {
    .cookie-box-small {
        left: 0;
        bottom: 0;
        text-align: center;
    }

        .cookie-box-small .col-sm-11 {
            padding: 0;
        }

        .cookie-box-small .cookie-action {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        .cookie-box-small .credit {
            max-width: 100%;
            text-align: center;
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            margin-top: 10px;
        }

        .cookie-box-small .btn-groups {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: center !important;
            -ms-flex-pack: center !important;
            justify-content: center !important;
        }

            .cookie-box-small .btn-groups .btn {
                max-width: calc( 50% - 2px);
                -webkit-box-flex: 0;
                -ms-flex: 0 0 calc( 50% - 2px);
                flex: 0 0 calc( 50% - 2px);
                margin: 5px 1px;
            }

        .cookie-box-small .cookie-accept {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

            .cookie-box-small .cookie-accept .checkbox {
                text-align: left !important;
                -webkit-box-pack: start !important;
                -ms-flex-pack: start !important;
                justify-content: start !important;
                margin-right: 0 !important;
                margin-bottom: 10px;
            }

                .cookie-box-small .cookie-accept .checkbox:nth-child(1), .cookie-box-small .cookie-accept .checkbox:nth-child(3) {
                    max-width: 40% !important;
                    -webkit-box-flex: 0 !important;
                    -ms-flex: 0 0 40% !important;
                    flex: 0 0 40% !important;
                }

                .cookie-box-small .cookie-accept .checkbox:nth-child(2), .cookie-box-small .cookie-accept .checkbox:nth-child(4) {
                    max-width: 60% !important;
                    -webkit-box-flex: 0 !important;
                    -ms-flex: 0 0 60% !important;
                    flex: 0 0 60% !important;
                }
}

.cookie-box-small .credit {
    text-align: center;
    margin-top: 10px;
}

.cookie-box-small .btn-groups {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.cookie-box-small .cookie-action {
    border-top: 1px solid #D2D2D2;
    margin-left: -20px;
    margin-right: -20px;
    padding: 15px;
    padding-bottom: 0;
    width: calc( 100% + 40px);
}

.cookie-box-small .cookie-accept {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

    .cookie-box-small .cookie-accept .no-drop {
        cursor: no-drop !important;
        pointer-events: none;
    }

        .cookie-box-small .cookie-accept .no-drop label {
            color: #0D9F24;
        }

    .cookie-box-small .cookie-accept label {
        margin-bottom: 0;
        margin-left: 5px;
        font-size: 14px;
    }

    .cookie-box-small .cookie-accept input {
        position: absolute;
        width: 100%;
        z-index: 2;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
    }

    .cookie-box-small .cookie-accept .checkbox:not(input.checkbox) {
        cursor: pointer;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        max-width: 50%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        margin-bottom: 10px;
    }

    .cookie-box-small .cookie-accept .custome-checkbox {
        width: 35px;
        height: 20px;
        background-color: #DDDDDD;
        border-radius: 24px;
        display: inline-block;
        cursor: pointer;
        position: relative;
    }

        .cookie-box-small .cookie-accept .custome-checkbox::before {
            position: absolute;
            width: 16px;
            height: 16px;
            background-color: #979797;
            content: '';
            left: 2px;
            top: 2px;
            border-radius: 24px;
            z-index: 2;
            -webkit-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
        }

        .cookie-box-small .cookie-accept .custome-checkbox.locked {
            display: -ms-grid;
            display: grid;
            place-content: center;
            background-color: #62CF74;
            cursor: no-drop !important;
        }

            .cookie-box-small .cookie-accept .custome-checkbox.locked::before {
                display: none;
            }

    .cookie-box-small .cookie-accept .checkbox.checkbox-active label {
        color: #0D9F24;
    }

    .cookie-box-small .cookie-accept .checkbox.checkbox-active .custome-checkbox::before {
        left: auto !important;
        right: 2px;
        background-color: #0D9F24;
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
    }

.cookie-box-small .btn {
    min-width: 130px;
    border: 1px solid #0D9F24;
    border-radius: 24px;
    margin: 0 3px;
}

    .cookie-box-small .btn:focus {
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

.cookie-box-small .btn-bordered {
    color: #0D9F24;
}

    .cookie-box-small .btn-bordered:hover {
        background-color: #0D9F24;
        color: #ffffff;
    }

.cookie-box-small .btn-filled {
    background-color: #0D9F24;
    color: #ffffff;
}

    .cookie-box-small .btn-filled:hover {
        background-color: transparent;
        color: #0D9F24;
    }

.cookie-box-small .cookie {
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-radius: 8px;
}

    .cookie-box-small .cookie .cookie-icon svg {
        max-width: 60px;
    }

    .cookie-box-small .cookie h1, .cookie-box-small .cookie h2, .cookie-box-small .cookie h3, .cookie-box-small .cookie h4, .cookie-box-small .cookie h5, .cookie-box-small .cookie h6 {
        font-size: 18px;
        font-weight: bold;
        color: #111013;
    }

    .cookie-box-small .cookie p {
        font-size: 14px;
        color: #6A6A6A;
    }

    .cookie-box-small .cookie .cookie-action {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

        .cookie-box-small .cookie .cookie-action img {
            max-width: 80px;
            width: 100%;
        }

.cookie-box-small .cookie-details {
    background-color: #F1F3F6;
    margin-top: 20px;
    width: calc( 100% + 40px);
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: -20px;
}

    .cookie-box-small .cookie-details .nav-pills {
        text-align: center;
    }

    .cookie-box-small .cookie-details .display-flex.active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .cookie-box-small .cookie-details .tab-content p {
        font-size: 14px;
        margin-bottom: 2px;
    }

    .cookie-box-small .cookie-details .nav-link {
        border: 0;
        border-radius: 24px !important;
        font-size: 14px;
    }

        .cookie-box-small .cookie-details .nav-link.active {
            background-color: #0D9F24;
            color: #ffffff;
        }

    .cookie-box-small .cookie-details .nav-tabs {
        padding: 10px;
    }
/*# sourceMappingURL=style.css.map */
