/* Project name: Føroya Handverkarafelag */
/* Develope by: appnet.fo */

/* variables */
/* Primary Color */
$primaryColor: #0D9F24

/* Secoundry color */
$secondryColor: #000000

/* Black color */
$bodyColor: #575757
$blackColor: #111013

/* White color */
$whiteColor: #ffffff
$greyColor: #F1F3F6

/* Fonts */
$font: 'Roboto', sans-serif 


*,*,*:after,*:before
    margin: 0
    padding: 0
    position: relative
    box-sizing: border-box
    transition: all 0.2s ease-in-out

::selection
    background-color: $primaryColor
    color: $whiteColor

html,body
    font-family: $font
    font-weight: 400
    scroll-behavior: smooth
    color: $bodyColor
    @media (max-width: 768px)
        overflow-x: hidden !important

h1,h2,h3,h4,h5,h6
    font-weight: 700

div,header,nav,footer,section,aside,article
    display: block

a
    color: $primaryColor
    text-decoration: none
    transition: all 0.05s ease-in !important
    &:hover
        text-decoration: none
        color: $secondryColor

p
    font-size: 16px
    @media (max-width: 576px)
        font-size: 14px

ul
    margin: 0
    padding: 0
    li
        list-style-type: none
        font-size: 16px
        padding-left: 15px
        position: relative
        margin-bottom: 10px
        &::before
            position: absolute
            left: 0
            width: 5px
            height: 5px
            content: ''
            background-color: $secondryColor
            top: 11px
            border-radius: 50%

img
    width: 100%

/* Components */
.btn
    min-width: 170px
    background-color: $primaryColor
    color: $whiteColor
    border-radius: 24px
    box-shadow: 0px 12px 24px rgba(13, 159, 36, 0.3)
    &:hover
        color: $primaryColor
        border: 1px solid $primaryColor
        background-color: transparent
        box-shadow: 0px 12px 24px rgba(13, 159, 36, 0)


.hero
    padding: 100px 0
    @media (max-width: 768px) and (min-width: 576px)
        .mobile-2
            order: 2
        .mobile-1
            order: 1
    @media (max-width: 576px)
        h1,h2,h3,h4,h5,h6
            font-size: 32px !important
        .mobile-2
            order: 2
        .mobile-1
            order: 1
    .text-bold
        font-weight: bold
        font-size: 24px
        color: $blackColor
    .mid-title
        font-size: 24px
        color: $primaryColor
        font-weight: 300
    h1,h2,h3,h4,h5,h6
        font-size: 60px
        line-height: 60px
        color: $secondryColor
    p:not(.mid-title)
        margin-bottom: 30px

.feature-wrapper
    padding: 100px 0
    @media (max-width: 576px)
        background-color: $greyColor
        h1,h2,h3,h4,h5,h6
            font-size: 28px !important
        .mt-5
            margin-top: 0 !important
        .box
            background-color: $whiteColor !important
            margin-bottom: 30px
            margin-top: 30px !important
    .content
        padding: 30px
        border-radius: 24px
        min-height: 240px
        position: relative
        .tag
            background-color: $primaryColor
            border-radius: 24px
            padding: 2px 30px
            display: inline-block
            color: $whiteColor
        h1,h2,h3,h4,h5,h6
            font-size: 42px
            font-weight: 400
            line-height: 42px
            margin-bottom: 20px
            color: $secondryColor
            margin-top: 20px
    .box
        background: $greyColor
        padding: 20px
        border-radius: 24px
        text-align: center
        min-height: 220px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        .icons
            position: absolute
            width: 100%
            left: 0
            top: -50px
            text-align: center
            i
                display: grid
                background-color: $primaryColor
                color: $whiteColor
                width: 80px
                height: 80px
                place-content: center
                font-size: 42px
                border-radius: 50%
                margin: 0 auto
        h1,h2,h3,h4,h5,h6
            font-size: 24px
            color: $secondryColor
            font-weight: 700
            line-height: 24px
            margin-bottom: 20px
            padding-top: 20px
        p
            color: #575757
            line-height: 16px


.price-wrapper
    background-color: $greyColor
    padding: 50px 0
    @media (max-width: 576px)
        padding-bottom: 0 !important
        lottie-player
            width: 100% !important
        .mobile-2
            order: 2 !important
        .mobile-1
            order: 1 !important
    .box
        text-align: center
        .price-title
            padding-bottom: 10px
            font-weight: 400
            color: $secondryColor
            font-size: 42px
        .tag
            background-color: $primaryColor
            border-radius: 24px
            padding: 2px 20px
            display: inline-block
            color: $whiteColor
            margin: 0 auto
            text-align: center
            min-width: 140px
        .price-box
            background-color: $whiteColor
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05)
            padding: 10px 30px
            border-radius: 24px
            margin-top: 30px
            position: relative
        .plan
            position: absolute
            top: -20px
            background-color: $secondryColor
            border-radius: 4px
            padding: 4px 20px
            display: inline-block
            color: $whiteColor
            left: 50%
            transform: translate(-50%)
        .plan-name
            font-size: 24px
            color: $primaryColor
            font-weight: 300
            margin: 20px 0
            display: block
        .pricing
            color: $secondryColor
            font-weight: 400
            font-size: 32px
            b
                font-weight: bold
        .extra
            font-size: 16px
            color: #828282
            display: block
            margin-bottom: 20px
    ul
        text-align: left


.contact-wrapper
    padding-bottom: 100px
    padding-top: 200px
    &::before
        position: absolute
        width: 100%
        height: 50%
        content: ''
        background: $greyColor
        background-size: cover
        top: 0
        left: 0
    @media (max-width: 576px)
        padding-top: 150px
        padding-bottom: 0
        .container
            h1,h2,h3,h4,h5,h6
                font-size: 28px !important
            &::before
                width: 100% !important
    .container
        padding-top: 50px
        padding-bottom: 50px
        background-image: url('../images/landing/contact-img.jpg')
        background-size: cover
    .form
        background-color: $secondryColor
        padding: 50px
        border-radius: 24px
        margin-top: -200px
        h1,h2,h3,h4,h5,h6
            font-size: 42px
            margin-bottom: 30px
            color: $whiteColor
            font-weight: 400
    .input
        margin-bottom: 20px
        input
            width: 100%
            background-color: transparent
            border: 1px solid $whiteColor
            padding: 7px 20px 
            border-radius: 24px     

footer
    background-color: $greyColor
    @media (max-width: 576px)
        text-align: center
        .logo
            margin-bottom: 20px
        .contact
            a
                display: block
                margin-bottom: 10px
    @media (max-width: 768px) and (min-width: 576px)
        text-align: center
        .logo
            margin-bottom: 20px
        .contact
            a
                display: block
                margin-bottom: 30px !important
    .container
        padding: 10px
        .contact
            a
                color: $blackColor
            i
                vertical-align: middle
        .logo
            img
                max-width: 245px
    .credit
        background-color: $whiteColor
        text-align: center
        padding: 10px
        img
            max-width: 100px